<nav role="navigation">
    <section>
        <div class="global-nav__menu">
            <div>
                <a href="#" class='button small' data-drawer-opener>
                    <i class="fa fa-bars"></i>
                    メニュー
                </a>
            </div>

            <div>
                <a href="#" class='button small' data-back-home>
                    &lt; 戻る
                </a>
            </div>
        </div>

        <div class="global-nav__info">
            <div class="nav-content">
                <span class='info__label'>
                    今日の雑学
                </span>

                <p class='info__content'>
                    今日は豆腐の日：「とう(10)ふ(2)」の語呂合せ。
                </p>
            </div>
        </div>

        <div class="global-nav__date">
            <div class="nav-content">
                <div class="date-area">
                    <div class="date-area__year">
                        2014年(平成26年)
                    </div>

                    <div class="date-area__date">
                        <span class="date--month">
                            10
                        </span>

                        <span class="date--unit">
                            月
                        </span>

                        <span class="date--day">
                            02
                        </span>

                        <span class="date--unit">
                            日
                        </span>
                    </div>

                    <div class="date-area__weekday">
                        木曜日
                    </div>
                </div>
            </div>
        </div>

        <div class="global-nav__title">
            なみえ新聞
        </div>

        <div class="global-nav__weather">
            <div class="nav-content">
                <span class='weather__label'>
                    今日の天気
                </span>

                <div class="weather__content">
                    <table class='weather__table'>
                        <thead>
                            <tr>
                                <td>
                                    地名
                                </td>

                                <td>
                                    9時
                                </td>

                                <td>
                                    15時
                                </td>

                                <td>
                                    21時
                                </td>

                                <td>
                                    降水確率
                                </td>

                                <td>
                                    最低気温
                                </td>

                                <td>
                                    最高気温
                                </td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    浪江町
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    郡山市
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="global-nav__font">
            <ul>
                <li>
                    <a href="#" class="button" data-font-size='16' value="small">
                        小
                    </a>
                </li>

                <li>
                    <a href="#" class="button" data-font-size='20' value="middle">
                        中
                    </a>
                </li>

                <li>
                    <a href="#" class="button" data-font-size='26' value="large">
                        大
                    </a>
                </li>
            </ul>
        </div>
    </section>
</nav>
