<nav role="navigation">
    <section>
        <div class="global-nav__menu">
            <div>
                <a href="#" class='button small' data-drawer-opener>
                    <i class="fa fa-bars"></i>
                </a>

                <a href="#" class='button small' data-back-home>
                    &lt; 戻る
                </a>
            </div>
        </div>

        <div class="global-nav__date">
            <div class="nav-content">
                <div id="naviPublishDate" class="date-area">
                    <div class="date-area__year">
                        <span class="date--year">2014</span>

                        <span class="date--unit">年</span>
                    </div>

                    <div class="date-area__date">
                        <span class="date--month">10</span>

                        <span class="date--unit">月</span>

                        <span class="date--day">02</span>

                        <span class="date--unit">日</span>
                    </div>

                    <div class="date-area__weekday">
                        <span class="date--paren">(</span>

                        <span class="date--weekday">火</span>

                        <span class="date--paren">)</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="global-nav__menubutton">
            <ul>
                <li>
                    <a class="button" id="backno" href='/backnumber'>
                        <i class="fa fa-calendar"></i>
                    </a>
                </li>

                <li>
                    <a class="button" id="setting" href='/settings'>
                        <i class="fa fa-cog"></i>
                    </a>
                </li>

                <li>
                    <a class="button" id="help" href='/tutorial'>
                        <i class="fa fa-question-circle"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="global-nav__font">
            <ul>
                <li>
                    <a href="#" class="button" data-font-size='26' value="large">
                        大
                    </a>
                </li>

                <li>
                    <a href="#" class="button" data-font-size='20' value="middle">
                        中
                    </a>
                </li>

                <li>
                    <a href="#" class="button" data-font-size='16' value="small">
                        小
                    </a>
                </li>
            </ul>
        </div>
    </section>
</nav>
