<nav role="navigation">
    <section>
        <a href="#" class='button small' data-drawer-opener style="display: none;"">
            <i class="fa fa-bars"></i>
        </a>

        <div class="global-nav__title">
        </div>

        <div class="global-nav__date">
            <div class="nav-content">
                <div id="naviPublishDate" class="date-area">
                    <div class="date-area__year">
                        <span class="date--year">ー</span>

                        <span class="date--unit">年</span>
                    </div>

                    <div class="date-area__date">
                        <span class="date--month">ー</span>

                        <span class="date--unit">月</span>

                        <span class="date--day">ー</span>

                        <span class="date--unit">日</span>
                    </div>

                    <div class="date-area__weekday">
                        <span class="date--paren">(</span>

                        <span class="date--weekday">ー</span>

                        <span class="date--paren">)</span>

                        <span class="date--ban">版</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="global-nav__menubutton">
            <ul>
                <li>
                    <a class="button" id="calendar" style="width: 190px;">
                        過去の新聞を読む
                    </a>
                </li>

                <li>
                    <a class="button" id="help" style="width: 90px;">
                        ヘルプ
                    </a>
                </li>
            </ul>
        </div>

        <div class="global-nav__font">
            <ul>
                <li>
                    <a href="#" class="button" data-font-size='26' value="large">
                        大
                    </a>
                </li>

                <li>
                    <a href="#" class="button" data-font-size='20' value="middle">
                        中
                    </a>
                </li>

                <li>
                    <a href="#" class="button" data-font-size='16' value="small">
                        小
                    </a>
                </li>
            </ul>
        </div>
    </section>
</nav>

<div id="modal-calendar-container">
</div>

<div id="global-help-container">
</div>
