<div class="header-logo">
    <h1>
        <img
            src="app/img/img-title-logo.png"
            alt="つながりをとりもどそう なみえ新聞"
        >
    </h1>
</div>

<div class="header-haiku">
    <div class="header-haiku__heading">
        今日の俳句
    </div>

    <div class="header-haiku__text">
        茜空 気がつきゃ早くて 焦り出す
    </div>
</div>

<div class="header-weather--local">
    <div class="header-weather__name">
        浪江町
    </div>

    <div class="header-weather__state">
        晴れ
    </div>
</div>

<div class="header-weather--namie">
    <div class="header-weather__name">
        浪江町
    </div>

    <div class="header-weather__state">
        晴れ
    </div>
</div>
