<h3 class='text-center'>
    メニュー一覧
</h3>

<ul class='menu__list'>
    <li>
        <a class="button expand" href='/top'>
            トップ
        </a>
    </li>

    <li>
        <a class="button expand" href='/scrap'>
            切り抜き
        </a>
    </li>

    <li>
        <a class="button expand" href='/tutorial'>
            ヘルプ
        </a>
    </li>

    <li>
        <a class="button expand" href='/backnumber'>
            バックナンバー
        </a>
    </li>

    <li>
        <a class="button expand" href='/settings'>
            設定
        </a>
    </li>
</ul>
