<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: true">
    <section class="top-bar-section">
        <ul class="left">
            <li class="has-dropdown"><a class="active" href="#">メニュー</a>
                <ul class="dropdown">
                    <li class="active"><a href="ope-top">新聞記事一覧</a></li>
                    <li><a href="ope-slideshow">スライドショー画像一覧</a></li>
                    <li><a href="ope-message">メッセージ一覧</a></li>
                </ul></li>
        </ul>
        <ul class="title-area left">
            <li class="name">
                <h1>
                    <a href="#">浪江町アプリ管理ツール</a>
                </h1>
            </li>
        </ul>
    </section>
</nav>
