<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: true">
    <section class="top-bar-section">
        <ul class="left">
            <li class="has-dropdown"><a class="active" href="#">メニュー</a>
                <ul id="ope-drowdown" class="dropdown">
                    <li id="ope-top" class="active"><a href="ope-top">新聞記事管理</a></li>
                    <li id="ope-slideshow"><a href="ope-slideshow">スライドショー画像管理</a></li>
                    <li id="ope-message"><a href="ope-message">メッセージ管理</a></li>
                    <li id="ope-achievement"><a href="ope-achievement">道場達成状況ダウンロード</a></li>
                    <li id="ope-character"><a href="ope-character">キャラクター選択</a></li>
                    <li id="ope-radiation"><a href="ope-radiation">車載線量計データアップロード</a></li>
                </ul>
            </li>
        </ul>
        <ul class="title-area left">
            <li class="name">
                <h1>
                    <a href="#">浪江町アプリ管理ツール</a>
                </h1>
            </li>
        </ul>
    </section>
</nav>
