<article
    class='post'
    id="<%= model.get('__id') %>"
>
    <section class='post__body'>
        <div class="row">
            <div class="large-2 columns">
                <%= model.get("dispUpdatedAt") %>更新
            </div>
            
            <div class="large-8 columns">
                <h4>
                    <%= model.get("dispTitle") %>
                </h4>

                <p>
                    テキスト
                </p>
            </div>

            <div class="large-2 columns">
                <div class="post-action">
                    <a
                        href="/letters/<%= model.get('__id') %>/edit"
                        class="button"
                    >
                        編集
                    </a>
                </div>
            </div>
        </div>
    </section>
</article>
