<article
    class='post letter-section <%= _.shuffle(["is-no-image", ""])[0] %>'
    id="<%= model.get('__id') %>"
>
    <section>
        <div class="row">
            <div class="small-1 columns columns--date">
                <div class="date-area">
                    <div class="date--year">
                        <%= moment(model.get("publishedAt")).format("YYYY") %>年
                    </div>

                    <div class="date--date">
                        <span class="date--month"><%= moment(model.get("publishedAt")).format("MM") %></span><!--
                        --><span class="date--day"><%= moment(model.get("publishedAt")).format("DD") %></span>
                    </div>

                    <br />

                    <div class="date--weekday">
                        （<%= "日月火水木金土"[moment(model.get("publishedAt")).format("e")] %>）
                    </div>
                </div>
            </div>

            <div class="small-4 columns columns--thumbnail">
                <img class="letterListItemPicture" src="">
            </div>
            
            <div class="small-5 columns columns--body confirm-letter">
                <h4>
                    <%= model.get("nickname") %> さん
                </h4>

                <p>
                   <%= model.get("dispDescription") %>
                </p>
            </div>

            <div class="small-2 columns columns--action">
                <div class="post-action">
                    <a
                        href="#"
                        class="button button--gray"
                        data-delete-letter>
                        削除する
                    </a>
                </div>
            </div>
        </div>
    </section>
</article>
