<aside
    id='contents__secondary'
    class="contents__secondary"
>
    <div class="sidemenu">
        <div class="row">
            <div class="letter-jumbotron">
                <p>
                    今日の出来事に写真を添えて気軽に投稿してみましょう！
                    <br />
                    投稿した内容は、なみえ新聞に掲載されます。
                </p>

                <a
                    href="/letters/new?step=1"
                    class="button button--letter-new"
                >
                    投稿する
                </a>
            </div>
        </div>
    </div>
</aside>

<div
    id='contents__primary'
    class="contents__primary"
    role='content'
>
    <h2>
        過去の投稿
    </h2>

    <section id="letter-list-container"></section>
</div>
