<div
    id="modal-radiation-overlay"
    class="modal-radiation-overlay"
>
    <div
        id="modal-radiation"
        class="modal-radiation"
    >
        <a
            class="button--float"
            data-close
        > ✕ </a>

        <div class="modal-radiation__header">
            アップロードする放射線量データを選択してください。</div>

        <div class="modal-radiation__list-header">
            <div class="row">
                <div class="columns small-1">
                    &nbsp;
                </div>

                <div class="columns small-5">
                    ファイル名
                </div>

                <div class="columns small-6">
                    日時
                </div>
            </div>
        </div>

        <div class="modal-radiation__scroll">
            <div class="modal-radiation__scroll-content">
                <% if (mode === "form") { %>
                    <input id="radiation_csv" type="file" name="radiation_csv" multiple>
                <% } else { %>
                    <div
                        id="radiationList"
                        class="radiationList"
                    ></div>
                <% } %>
            </div>
        </div>

        <div class="modal-radiation__upload">
            <button
                id="radiationUploadButton"
                class="button button--emerald button--upload"
                type="button"
            >
                <div>
                    アップロード
                </div>
            </button>
        </div>
    </div>
</div>
