<div
    id="modal-radiation-overlay"
    class="modal-radiation-overlay"
>
    <div
        id="modal-radiation"
        class="modal-radiation"
    >
        <a
            class="button--float"
            data-close
        > ✕ </a>

        <div class="modal-radiation__header">
            アップロードする放射線量データを選択してください。</div>

        <ul
            id="radiationList"
            class="radiationList"
            style="list-style: none;"
        ></ul>
        <button type="button" id="radiationUploadButton">アップロード</button>
    </div>
</div>
