<li class="radiationListItem">
    <div class="row">
        <div class="large-1 columns">
            <input type="checkbox" class="uploadRadiationCheckbox"/>
        </div>
        <div class="large-11 columns">
            <div class="row">
                <div class="large-6 columns">
                    <label class="radiationItemFileName"></label>
                </div>
                <div class="large-5 columns">
                    <label class="radiationItemFileLastModified"></label>
                </div>
            </div>
        </div>
    </div>
</li>