<div class="rad-popup">
    <div class="rad-popup__header">
        <div class="rad-popup__date">
            <%= data.dateStr %>
        </div>

        <h4 class="rad-popup__average-value">
            平均:
            <b><%= data.avg %></b>
            μSv/h
        </h4>

        <p class="rad-popup__max-value">
            最大:
            <b><%= data.max %></b>
            μSv/h
        </p>
    </div>

    <div class="rad-popup__info">
        <ul>
            <li>
                タイプ:
                <%= data.stationType %>
            </li>

            <li>
                測定標本数:
                <%= data.numSample %>
            </li>

            <li>
                測定機器メーカー:
                <%= data.sensorVendor %>
            </li>

            <li>
                測定機器モデル:
                <%= data.sensorModel %>
            </li>

            <li>
                測定機器シリアルNo.:
                <%= data.sensorSerialNo %>
            </li>
        </ul>
    </div>
</div>
