<div class="rad-popup">
    <div class="rad-popup__header">
        <div class="rad-popup__date">
            <%= data.dateStr %>
        </div>

        <div class="rad-popup__radvalue">
            <div class="rad-popup__radvalue__label">
                平均値
            </div>
            <div class="rad-popup__radvalue__value">
                <b><%= data.avg %></b>
                μSv/h
            </div>
        </div>
        <div class="rad-popup__radvalue">
            <div class="rad-popup__radvalue__label">
                最大値
            </div>
            <div class="rad-popup__radvalue__value">
                <b><%= data.max %></b>
                μSv/h
            </div>
        </div>

        <% if (data.hasErrDoseMissing) { %>
            <p class="rad-cluster-item__error">
                ※ 測定値が登録されていません。
            </p>
        <% } %>
    </div>

    <div class="rad-popup__info__more">
        <a class="rad-popup__info__more--button">もっと見る</a>
    </div>

    <div class="rad-popup__info">
        <ul>
            <li>
                タイプ :
                <span class="rad-popup__info__value"><%= data.stationType %></span>
            </li>

            <li>
                測定標本数 :
                <span class="rad-popup__info__value"><%= data.numSample %></span>
            </li>

            <li>
                測定機器メーカー :
                <span class="rad-popup__info__value"><%= data.sensorVendor %></span>
            </li>

            <li>
                測定機器モデル :
                <span class="rad-popup__info__value"><%= data.sensorModel %></span>
            </li>
        </ul>
    </div>
</div>
