<div class="rad-popup">
    <div class="rad-popup__header">
        <div class="rad-popup__date">
            <%= data.dateStr %>
        </div>

        <% if (data.hasCollection) { %>
            <div class="rad-popup__radvalue">
                <div class="rad-popup__radvalue__label">
                    最大値
                </div>
                <div class="rad-popup__radvalue__value">
                    <b><%= data.max ? data.max.toFixed(3) : '' %></b>
                    μSv/h
                </div>
            </div>
            <div class="rad-popup__radvalue">
                <div class="rad-popup__radvalue__label">
                    最小値
                </div>
                <div class="rad-popup__radvalue__value">
                    <b><%= data.min ? data.min.toFixed(3) : '' %></b>
                    μSv/h
                </div>
            </div>
        <% } else { %>
            <div class="rad-popup__radvalue">
                <div class="rad-popup__radvalue__label">
                    測定値
                </div>
                <div class="rad-popup__radvalue__value">
                    <b><%= data.max ? data.max.toFixed(3) : '' %></b>
                    μSv/h
                </div>
            </div>
        <% } %>
    </div>

    <div class="rad-popup__info__more">
        <a class="rad-popup__info__more--button">もっと見る</a>
    </div>

    <div class="rad-popup__info">
        <ul>
            <li>
                タイプ :
                <span class="rad-popup__info__value"><%= data.stationType %></span>
            </li>

            <% if (data.hasCollection) { %>
                <li>
                    測定標本数 :
                    <span class="rad-popup__info__value"><%= data.numSample %></span>
                </li>
            <% } %>

            <li>
                測定機器メーカー :
                <span class="rad-popup__info__value"><%= data.sensorVendor %></span>
            </li>

            <li>
                測定機器モデル :
                <span class="rad-popup__info__value"><%= data.sensorModel %></span>
            </li>
        </ul>
    </div>
</div>
