<li
    data-article-id="<%= model.get('__id') %>"
    class="rad-cluster-item feed-item <%= !model.get('hidden') ? 'rad-cluster-item--selected' : '' %>"
>
    <div class="rad-cluster-item__row">
        <div class="rad-cluster-item__left">
            <div class="rad-cluster-item__date">
                <div>
                    <span class="date--year">
                        <%= moment(prop.startDate).format("YYYY") %>
                        年
                    </span>
                </div>
    
                <div>
                    <span class="date--monthday"><b><%= moment(prop.startDate).format("M") %></b><span style="margin: 0 3px;">/</span><b><%= moment(prop.startDate).format("D") %></b></span>
    
                    <span class="date--weekday date--weekday<%= moment(prop.startDate).format("d") %>">(<%= moment(prop.startDate).format("ddd") %>)</span>
                </div>

                <div class="date--time">
                    <span class="date--starttime"><%= moment(prop.startDate).format("HH:MM") %></span>
                    -
                    <span class="date--endtime"><%= moment(prop.endDate).format("HH:MM") %></span>
                </div>
            </div>
        </div>
    
        <div class="rad-cluster-item__right">
            <table class="rad-cluster-item__value-table">
                <tr class="rad-cluster-item__avg-value">
                    <td>
                        <span>
                            最大値
                        </span>
                    </td>
    
                    <td>
                        <b>
                            <%= prop.maxValue ? prop.maxValue.toFixed(3) : '' %>
                        </b>
                    </td>
    
                    <td>
                        <span>
                            μSv/h
                        </span>
                    </td>
                </tr>
    
                <tr class="rad-cluster-item__max-value">
                    <td>
                        <span>
                            最小値
                        </span>
                    </td>
    
                    <td>
                        <b>
                            <%= prop.minValue ? prop.minValue.toFixed(3) : '' %>
                        </b>
                    </td>
    
                    <td>
                        <span>
                            μSv/h
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <% if (hasError) { %>
        <div class="rad-cluster-item__row">
            <p class="rad-cluster-item__error">
                ※データに一部不備があります。
            </p>
        </div>
    <% } %>
</li>
