<div class="rad-tutorial-bg" data-fade-in>
</div>

<div class="rad-tutorial-dialog" data-fade-in>
    <a class="button rad-tutorial-dialog__back" data-rad-tutorial-closer>
        ✕
    </a>

    <div class="rad-tutorial-dialog__header">
    </div>

    <div id="rad-tutorial-dialog__guide" class="rad-tutorial-dialog__guide">
        なみえ放射線情報の使い方をご説明します。<br>
        下の画像の中の<i class="ico-youtube-play"></i>を押してください。
    </div>

    <div id="rad-tutorial-dialog__player" class="rad-tutorial-dialog__player">
        <div id="rad-tutorial-dialog__content" class="rad-tutorial-dialog__content"></div>
    </div>

    <div id="rad-tutorial-dialog__body" class="rad-tutorial-dialog__body">
        <div class="row rad-tutorial-dialog__movie-control">
            <div class="columns large-12">
                <button class="rad-tutorial-dialog__button button button--default" data-play-movie>
                    再生する
                </button>
                <button class="rad-tutorial-dialog__button button button--default" data-pause-movie>
                    一時停止する
                </button>
            </div>
        </div>

        <div class="row">
            <div class="columns large-12">
                <button class='rad-tutorial-dialog__button button' data-rad-tutorial-closer>
                    なみえ放射線情報に戻る
                </button>
            </div>
        </div>
    </div>
</div>
