<aside id='contents__secondary'
    class="contents__secondary columns small-3">
    <div class="sidemenu">
        <div
            id="side-header"
            class="side-header"
        >
            <h1>
                なみえ放射線情報
            </h1>
        </div>

        <div class="side-upload">
            <button data-radiation-upload-button type="button" class="button button--emerald button--upload">
                <div>
                    アップロード
                </div>
            </button>
        </div>
    </div>

    <div class="sidemenu-bottom">
        <div class="sidemenu-bottom__scroll">
            <h3>
                測定した放射線データ
            </h3>

            <div class="sidebar">
                <ul id='sidebar__list' class='sidebar__list'></ul>
            </div>
        </div>
    </div>
</aside>

<div id='contents__primary' class="contents__primary columns small-9" role='content'>
    <div id="map-container"></div>
    <div class="map-legend">
        <ul class="map-legend-list">
            <li>
                <div class="map-legend-symbol map-marker--1"></div>
                <span class="map-legend-label">0.1以下</span>
            </li>
            <li>
                <div class="map-legend-symbol map-marker--2"></div>
                <span class="map-legend-label">〜0.2</span>
            </li>
            <li>
                <div class="map-legend-symbol map-marker--3"></div>
                <span class="map-legend-label">〜0.5</span>
            </li>
            <li>
                <div class="map-legend-symbol map-marker--4"></div>
                <span class="map-legend-label">〜1</span>
            </li>
            <li>
                <div class="map-legend-symbol map-marker--5"></div>
                <span class="map-legend-label">〜1.9</span>
            </li>
            <li>
                <div class="map-legend-symbol map-marker--6"></div>
                <span class="map-legend-label">〜3.8</span>
            </li>
            <li>
                <div class="map-legend-symbol map-marker--7"></div>
                <span class="map-legend-label">〜9.5</span>
            </li>
            <li>
                <div class="map-legend-symbol map-marker--8"></div>
                <span class="map-legend-label">〜19</span>
            </li>
            <li>
                <div class="map-legend-symbol map-marker--9"></div>
                <span class="map-legend-label">19より大</span>
            </li>
        </ul>
    </div>
</div>
<div id="radiation-list-container">
</div>
