<aside id='contents__secondary'
    class="contents__secondary columns small-3">
    <div class="sidemenu">
        <div class="row">
            <button data-article-register-button type="button" class="button">
                放射線量データの<br>アップロード</button>
        </div>
    </div>

    <div class="sidebar">
        <ul id='sidebar__list' class='sidebar__list'></ul>
    </div>
</aside>

<div id='contents__primary' class="contents__primary columns small-9" role='content'>
    <div id="map-container"></div>
    <div class="map-legend">
        <ul class="map-legend-list">
            <li>
                <div class="map-legend-symbol map-legend-symbol-1"></div>
                <span class="map-legend-label">0.1以下</span>
            </li>
            <li>
                <div class="map-legend-symbol map-legend-symbol-2"></div>
                <span class="map-legend-label">〜0.2</span>
            </li>
            <li>
                <div class="map-legend-symbol map-legend-symbol-3"></div>
                <span class="map-legend-label">〜0.5</span>
            </li>
            <li>
                <div class="map-legend-symbol map-legend-symbol-4"></div>
                <span class="map-legend-label">〜1</span>
            </li>
            <li>
                <div class="map-legend-symbol map-legend-symbol-5"></div>
                <span class="map-legend-label">〜1.9</span>
            </li>
            <li>
                <div class="map-legend-symbol map-legend-symbol-6"></div>
                <span class="map-legend-label">〜3.8</span>
            </li>
            <li>
                <div class="map-legend-symbol map-legend-symbol-7"></div>
                <span class="map-legend-label">〜9.5</span>
            </li>
            <li>
                <div class="map-legend-symbol map-legend-symbol-8"></div>
                <span class="map-legend-label">〜19</span>
            </li>
            <li>
                <div class="map-legend-symbol map-legend-symbol-9"></div>
                <span class="map-legend-label">19より大</span>
            </li>
        </ul>
    </div>
</div>

