        <div class="panel">
            <div class="clearfix">
                <h3 class="left"><span id="targetDate"></span> 配信予定の記事</h3>
                <button data-article-register-button class="button right">新規記事投稿</button>
            </div>
            <div id="article_list"></div>
            <div class="text-center">
                <a id="articlePreview">
                    <button data-article-preview-button class="button">プレビュー表示</button>
                </a>
            </div>
        </div>
