<article class='post' id="youtubeRegistPage">
    <section class='post__body'>
        <div class="row">
            <div class="large-12 columns">
                <label class="eventColumnsTitle">参考元のURL<br><%=model.get("link")%></label>
            </div>
        </div>
        <div class="row">
                <div class="large-3 columns">
                    <label class="eventColumnsTitle">動画</label>
                </div>
            <div class="large-9 columns">
                <div id="articleDetailImageArea" height="390" width="390">
                    <!-- <img class="articleDetailImage" class="nehan-float-start"></img> -->
                    <div id='youtubePlayer-<%=model.get("link")%>'></div>
                </div>
            </div>
        </div>
        <form>
            <div class="row">
                <div class="large-3 columns">
                    <label class="eventColumnsTitle">タイトル</label>
                </div>
                <div class="large-9 columns end">
                    <input id="articleTitle" name="articleTitle"
                        type="text" class="required" />
                </div>
            </div>
            <div class="row">
                <div class="large-3 columns">
                    <label class="eventColumnsTitle">現在のタイトル</label>
                </div>
                <div class="large-9 columns end">
                    <label><%-model.get("title")%></label>
                </div>
            </div>
            <div class="row">
                <div class="large-3 columns">
                    <label class="eventColumnsTitle">タグ</label>
                </div>
                <div class="large-9 columns end">
                    <input id="articleTags" name="articleTags"
                        type="text" />
                </div>
            </div>
            <div class="row">
                <div class="large-3 columns">
                    <label class="eventColumnsTitle">説明</label>
                </div>
                <div class="large-9 columns end">
                    <textArea id="articleDetail" rows="5"></textArea>
                </div>
            </div>
            <div class="row">
                <div class="large-3 columns">
                    <label class="eventColumnsTitle">現在の説明</label>
                </div>
                <div class="large-9 columns end">
                    <label><%-model.get("description")%></label>
                </div>
            </div>
            <div class="row">
                <div class="large-3 columns">
                    <label class="eventColumnsTitle">おすすめ記事</label>
                </div>
                <div class="large-9 columns end">
                    <input id="articleRecommendCheck" type="checkbox" /><label
                        for="articleRecommendCheck">おすすめ記事として配信する</label>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="large-push-4 large-3 columns">
                <button id="articleRegistButton" class="ladda-button"
                    data-style="contract-overlay">
                    <span class="ladda-label">保存する</span>
                </button>
            </div>
            <div class="large-5 columns">
                <button id="articleConfirmButton" class="ladda-button"
                    data-style="contract-overlay">
                    <span class="ladda-label">プレビュー</span>
                </button>
            </div>
        </div>

    </section>
</article>
