
<div id="articleRegistPage" class="large-12 columns" role="content">
    <article>

        <form id="articleRegistForm">
            <div class="row">
                <div class="large-3 columns">
                    <label class="eventColumnsTitle">記事カテゴリ</label>
                </div>
                <div class="large-9 columns end">
                    <select id="articleCategory" name="articleCategory">
                        <option value="3">イベント</option>
                        <option value="4">レポート</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="large-3 columns">
                    <label class="eventColumnsTitle">タイトル</label>
                </div>
                <div class="large-9 columns end">
                    <input id="articleTitle" name="articleTitle"
                        type="text" class="required" />
                </div>
            </div>
            <div class="row">
                <div class="large-3 columns">
                    <label class="eventColumnsTitle">日時</label>
                </div>
                <div class="large-9 columns">
	                <div class="row">
                        <div class="large-2 columns">
                            <label class="eventColumnsTitle">日付</label>
                        </div>
                        <div class="large-10 columns">
	                        <input id="articleMultiDate" type="checkbox" />日程が複数の日に渡る
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-push-2 large-3 columns">
                            <input id="articleDate1" name="articleDate1" type="date" />
                        </div>
                        <div class="large-push-2 large-1 columns">
                            <label class="eventColumnsTitle articleDateTo">～</label>
                        </div>
                        <div class="large-push-2 large-3 columns end">
	                        <input id="articleDate2" class="articleDateTo" name="articleDate2" type="date" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-2 columns">
                            <label class="eventColumnsTitle">時間</label>
                        </div>
                        <div class="large-2 columns">
							<input id="articleTime1" name="articleTime1" type="time" />
                        </div>
                        <div class="large-1 columns">
                            <label class="eventColumnsTitle event">～</label>
                        </div>
                        <div class="large-2 columns">
							<input id="articleTime2" name="articleTime2" type="time" />
                        </div>
                        <div class="large-5 columns end">
	                        <input id="articleAllDay" type="checkbox" />終日
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-3 columns">
                    <label class="eventColumnsTitle">場所</label>
                </div>
                <div class="large-9 columns end">
                    <input id="articlePlace" name="articlePlace" type="text"/>
                </div>
            </div>
            <div class="row">
                <div class="large-3 columns">
                    <label class="eventColumnsTitle">内容</label>
                </div>
                <div class="large-9 columns end">
                    <textArea id="articleDetail" rows="5"></textArea>
                </div>
            </div>
            <div id="fileArea">
            </div>
            <div class="row">
                <div class="large-9 columns right">
                        <a href="javascript:void(0);" id="addFileForm">＋画像を追加</a>
                </div>
            </div>
            <div class="row">
                <div class="large-3 columns">
                    <label class="eventColumnsTitle">主催者連絡先</label>
                </div>
                <div class="large-9 columns end">
                    <textArea id="articleContact" name="articleContact"
                        rows="5"></textArea>
                </div>
            </div>
            <div class="row">
                <div class="large-3 columns">
                    <label class="eventColumnsTitle">掲載期間</label>
                </div>
                <div class="large-9 columns end">
                    <div class="large-3 columns">
                        <input id="articleRangeDate1" name="articleRangeDate1" type="date" class="required" />
                    </div>
                    <div class="large-1 columns">
                        <label class="eventColumnsTitle">～</label>
                    </div>
                    <div class="large-3 columns end">
                        <input id="articleRangeDate2" name="articleRangeDate2" type="date" />
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="large-9 columns">
                <button id="articleRegistConfirmButton" class="ladda-button"
                    data-style="contract-overlay">
                    <span class="ladda-label">確認画面へ</span>
                </button>
                <!--       <button id="eventRegistButton">登録</button> -->
            </div>
        </div>
    </article>
    <hr />
</div>
<div id="articleRegistConfirmWrapperPage"></div>