<article class='post' id="<%= model.get('__id') %>"
    style="border-bottom: solid 1px;">
    <section class='post__body'>
        <div class="confirmAttention event-confirm__attention">
            入力した項目の確認です。
            入力内容が正しければ「登録する」を押してください。
        </div>

        <table class='event-confirm__table'>
            <thead>
                <tr>
                    <th colspan='2'>
                        <h3><%= model.get("title") %></h3>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <div class="column_title">日時</div>
                    </td>

                    <td>
                        <div id="articleDateTime"></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="column_title">場所</div>
                    </td>

                    <td>
                        <div id="articlePlace"><%= model.get("place") %></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="column_title">内容</div>
                    </td>

                    <td>
                        <div id="articleDescription"></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="column_title">画像</div>
                    </td>

                    <td>
                        <div id="articleImageArea" class="row">
                            <div class="large-4 columns"><img id="articleImage1"></img></div>
                            <div class="large-4 columns"><img id="articleImage2"></img></div>
                            <div class="large-4 columns"><img id="articleImage3"></img></div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="column_title">主催者連絡先</div>
                    </td>

                    <td>
                        <div id="articleContactInfo"></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="column_title">
                            掲載期間
                        </div>
                    </td>

                    <td>
                        <div id="articlePublishRange" class="column_title"></div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="post-action">
            <button id="articleRegistButton" type="button" class="small button">登録する</button>

            <button id="articleBackButton" type="button" class="small button">戻る</button>
        </div>
    </section>
</article>
