
<div id="articleDetailPage" class="large-12 columns" role="content">
    <div class="eventDetailHeader">
        <div class="row">
            <div class="large-12 columns"></div>

            <div class="eventStatus">
                <%= model.get('status') %>
            </div>

            掲載期間: YYYY年MM月dd日(W) 〜 YYYY年MM月dd日(W)
        </div>

        <div class="row">
            <div class="large-6 columns">
                YYYY年MM月dd日(W) 更新
            </div>

            <div class="large-6 text-right columns">
                <button id="articleEditButton" data-goto-edit>
                    <i class="fa fa-pencil"></i> 編集
                </button>

                <button id="articleDeleteButton" data-goto-delete>
                    <i class="fa fa-trash"></i> 削除
                </button>
            </div>
        </div>
    </div>

    <article>
        <aside id='contents__secondary'
            class="contents__secondary columns small-3">
        </aside>

        <div id='contents__primary' class="contents__primary columns small-9" role='content'>

            <div class="row">
                <div class="large-12 columns">
                    <div class="eventStatus">イベント</div>
                </div>
                <div class="large-12 columns">
                    <div class="eventTitle">
                        <%= model.get('title') %>
                    </div>
                </div>

                <div class="large-12 columns">
                    <div class="eventColumnsHeader">日時</div>
                </div>
                <div class="large-11 large-centered columns">
                    YYYY年MM月dd日 hh時mm分 〜 hh時mm分
                </div>

                <div class="large-12 columns">
                    <div class="eventColumnsHeader">場所</div>
                </div>
                <div class="large-11 large-centered columns">
                    <%= model.get('place') %>
                </div>

                <div class="large-12 columns">
                    <div class="eventColumnsHeader">内容</div>
                </div>
                <div class="large-11 large-centered columns">
                    <%= model.get('description') %>
                </div>

                <div class="large-12 columns">
                    <div class="eventColumnsHeader">画像</div>
                </div>
                <div class="large-11 large-centered columns">
                    <div class="eventFile">
                        <div class="eventFileImage">
                            <img src='<%= model.get("imageUrl") %>'>
                        </div>

                        <p>
                            <%= model.get('imageComment') %>
                        </p>
                    </div>

                    <div class="eventFile">
                        <div class="eventFileImage">
                            <img src='<%= model.get("imageUrl2") %>'>
                        </div>

                        <p>
                            <%= model.get('imageComment2') %>
                        </p>
                    </div>

                    <div class="eventFile">
                        <div class="eventFileImage">
                            <img src='<%= model.get("imageUrl3") %>'>
                        </div>

                        <p>
                            <%= model.get('imageComment3') %>
                        </p>
                    </div>
                </div>

                <div class="large-12 columns">
                    <div class="eventColumnsHeader">主催者連絡先</div>
                </div>
                <div class="large-11 large-centered columns end">
                    <%= model.get('contactInfo') %>
                </div>
            </div>
        </div>
    </article>
    <hr />
</div>
