
<div id="articleDetailPage" class="large-12 columns" role="content">
    <div class="eventDetailHeader">
        <div class="row">
            <div class="large-12 columns"></div>
            <div class="eventStatus">掲載中</div>
            掲載期間: 2014年11月10日(月)〜2014年12月11日(月)
        </div>
        <div class="row">
            <div class="large-6 columns">2014年11月10日(月) 更新</div>
            <div class="large-6 text-right columns">
                <button id="articleEditButton"><i class="fa fa-pencil"></i> 編集</button>
                <button id="articleDeleteButton"><i class="fa fa-trash"></i> 削除</button>
            </div>
        </div>
    </div>

    <article>
        <aside id='contents__secondary'
            class="contents__secondary columns small-3">
        </aside>
        
        <div id='contents__primary' class="contents__primary columns small-9" role='content'>

            <div class="row">
                <div class="large-12 columns">
                    <div class="eventStatus">イベント</div>
                </div>
                <div class="large-12 columns">
                    <div class="eventTitle">
                        かしまに集まっ会
                    </div>
                </div>

                <div class="large-12 columns">
                    <div class="eventColumnsHeader">日時</div>
                </div>
                <div class="large-11 large-centered columns">
                    2014年12月11日(月) 10時〜11時30分
                </div>

                <div class="large-12 columns">
                    <div class="eventColumnsHeader">場所</div>
                </div>
                <div class="large-11 large-centered columns">
                    南相馬市鹿島保健センター（南相馬市鹿島区西町三丁目2）<br>
                    電話：0244-46-1451
                </div>

                <div class="large-12 columns">
                    <div class="eventColumnsHeader">内容</div>
                </div>
                <div class="large-11 large-centered columns">
                    双葉郡から避難している方々のサロン（交流会）を開催しています。<br>
                    みなさんで情報交換したり、軽い体操などをしながら心と体をリフレッシュしませんか。<br>
                    おしゃべり、軽体操、健康相談（血圧測定）
                </div>

                <div class="large-12 columns">
                    <div class="eventColumnsHeader">画像</div>
                </div>
                <div class="large-11 large-centered columns">
                    <div class="eventFile">
                        <div class="eventFileImage">
                            <img style="background: #aaa; width: 300px; height: 200px;">
                        </div>
                        画像1の「画像への一言」が入ります
                    </div>
                    <div class="eventFile">
                        <div class="eventFileImage">
                            <img style="background: #aaa; width: 300px; height: 200px;">
                        </div>
                        画像2の「画像への一言」が入ります
                    </div>
                    <div class="eventFile">
                        <div class="eventFileImage">
                            <img style="background: #aaa; width: 300px; height: 200px;">
                        </div>
                        画像3の「画像への一言」が入ります
                    </div>
                </div>

                <div class="large-12 columns">
                    <div class="eventColumnsHeader">主催者連絡先</div>
                </div>
                <div class="large-11 large-centered columns end">
                    ◯南相馬市健康づくり課　原町保健センター<br>
                    電話：0244-23-3680<br>
                    ◯相馬広域こころのケアセンター<br>
                    電話：0244-26-9753
                </div>
            </div>
        </div>
    </article>
    <hr />
</div>
