<aside id='contents__secondary'
    class="contents__secondary columns small-3">
    <div>
        <div class="row">
            <button data-article-register-button type="button" class="button">
                新規記事投稿</button>
        </div>
        <div class="row"></div>
        <button data-report-register-button type="button"
            class="secondary button">イベント開催レポート投稿</button>
    </div>

    <div class="sidebar">
        <ul id='sidebar__list' class='sidebar__list'></ul>
    </div>
</aside>

<div id='contents__primary' class="contents__primary columns small-9" role='content'>
    <section id="article-list" class='iscroll-container'></section>
</div>
