<div class="dojo-item is-<%= model.getSolvedState() %> is-<%= model.getWatchedState() %>">
    <div class="dojo-item__thumbnail">
        <img src="" alt="DUMMY" style="width: 100%; height: 200px; background-color: #777;" />
        
        <div class="dojo-item__stamp">
            済
        </div>
    </div>
    
    <div class="dojo-item__title">
        <span>
            <%= model.get("title") %>
        </span>
        
        <div class="dojo-item__watched-state">
            視聴済み
        </div>
    </div>
    
    <button class="dojo-item__button button">
        見る
    </button>
</div>