<div class="dojo-item is-<%= model.getSolvedState() %> is-<%= model.getWatchedState() %>">
    <div class="dojo-item__header">
        <div class="row">
            <div class="columns small-2">
                <div class="circle-number">
                    <%= index + 1 %>
                </div>
            </div>

            <div class="columns small-10">
                <div class="dojo-item__title">
                    <%= model.get("title") %>
                </div>
            </div>
        </div>
    </div>

    <div class="dojo-item__thumbnail">
        <div class="dojo-item__thumbnail-inner">
            <img src="<%= model.get('thumbnail') %>">
        </div>
        <div class="dojo-stamp"></div>
    </div>

    <div class="dojo-item__footer">
        <a class="dojo-item__button button" href="dojo/lessons/<%= model.get('__id') %>">
            <div class="dojo-item__button-inner">
                再生する
            </div>
        </a>
    </div>
</div>
