<div class="row">
    <div class="columns small-12">
        <div class="dojo-watched-state right">
            <div class="dojo-watched-state__description">
                <span data-content-num>--</span>
                本の動画があります
            </div>

            <div class="dojo-watched-state__progress">
                <span data-watched-num>--</span>
                /
                <span data-content-num>--</span>
                視聴済み
            </div>
        </div>

        <h2 class="dojo-edition-title">要コース名→<!-- %= model.get("levelTitle") % --></h2>
    </div>
</div>

<div
    id="dojo-list-container"
    class="dojo-list-container"
></div>