<div class="dojo-item is-<%= model.getSolvedState() %> is-<%= model.getWatchedState() %>">
    <div class="dojo-item__thumbnail">
        <img src="<%= model.get('thumbnail') %>">
        
        <div class="dojo-stamp">
            済
        </div>
    </div>
    
    <div class="dojo-item__title">
        <span>
            <%= model.get("title") %>
        </span>
        
        <div class="dojo-item__watched-state">
            視聴済み
        </div>
    </div>
    
    <a class="dojo-item__button button" href="/dojo/lessons/<%= model.get('__id') %>">
        見る
    </a>
</div>
