<div class="row">
    <div class="columns small-12">
        <div class="dojo-watched-state right">
            <div class="dojo-watched-state__description">
                <span data-content-num>--</span>本の動画があります
            </div>

            <div class="dojo-watched-state__progress">
                <span data-watched-num>--</span>/<span data-content-num>--</span>視聴済み
            </div>
        </div>

        <h2 class="dojo-edition-title">
            <div class="dojo-level-item__icon">
                <img src="/app/img/dojo/text-<%= dojoLevel.className %>-belt.png" alt="" />
            </div>
        </h2>
    </div>
</div>

<div
    id="dojo-level-list-container"
    class="dojo-level-list-container"
></div>