<a
    class="dojo-level-item dojo-level--introduction"
    href="dojo-introduction"
    id="dojo-level-introduction"
    class="button dojo-level-title"
>
    <div class="dojo-level-item__header">
        <div class="dojo-level-item__icon" data-dojo-level="white"></div>
    </div>

    <div class="dojo-level-item__description">
        テキストが入ります
    </div>
</a>

<% _(levels).each(function(level) { %>
    <a
        class="dojo-level-item dojo-level--<%= level.className %>"
        href="dojo/levels/<%= level.id %>"
        id="dojo-level-<%= level.id %>"
        class="button dojo-level-title"
        style="display: none;"
    >
        <div class="dojo-level-item__header">
            <div class="dojo-level-item__icon" data-dojo-level="<%= level.className %>"></div>

            <div class="dojo-level-item__progress">
            <% if (level.numContent - level.numSolved == 0) { %>
                <%= level.label %> 修得済み！！</div>
            <% } else { %>
                あと<%= level.numContent - level.numSolved %>本で修得です
            <% } %>
            </div>
        </div>

        <div class="dojo-level-item__description">
            <%= level.description %>
        </div>
    </a>
<% }) %>
