<div id="dojo-level-complete" class="dojo-level-complete is-<%= dojoLevel.className %>">
    <div class="dojo-level-complete__body">
        <div id="dojo-level-complete__content" class="dojo-level-complete__content"></div>

        <div class="dojo-level-complete__footer">
            <div class="text-center">
                <button class="button dojo-level-complete__action--nextlevel" data-next-level>
                    <%= nextLevelButtonTitle %>
                </button>
            </div>
        </div>
    </div>

</div>