<div class="dojo-account right">
    <div
        id="dojo-account__level"
        class="dojo-account__level"
        data-dojo-level="none"
    >
        <div class="hidden-none-belt">
            <span>
                あなたの段位は
            </span>

            <div
                id="dojo-account__level-icon"
                class="dojo-account__level-icon"
            ></div>

            <div
                id="dojo-account__level-name"
                class="dojo-account__level-name"
            >
            </div>

            <span>
                です
            </span>
        </div>

        <div class="visible-none-belt">
            <span>
                あなたはまだ帯を持っていません
            </span>
        </div>
    </div>
</div>

<h1>なみえタブレット道場</h1>