<div
    id="dojo-contents"
    class="dojo-contents"
>
    <div
        id="dojo-tab-container"
        class="dojo-tab-container"
    ></div>

    <div
        id="dojo-edition-container"
        class="dojo-edition-container"
    ></div>

    <div
        id="dojo-level-container"
        class="dojo-level-container"
    ></div>

    <div
        id="dojo-lesson-container"
        class="dojo-lesson-container"
    ></div>

    <div
        id="dojo-introduction-container"
        class="dojo-introduction-container"
    ></div>
</div>