<div id="radiationListPage"
    class="contents__primary scroller" role="content">
    <div class="panel">
        <div id="radiationListHolder">
            <div>
                <h3>車載線量計データ一覧</h3>
                <button data-radiation-register-button
                    class="button">新規アップロード</button>
            </div>
            <table>
                <thead id="radiationListHead">
                    <tr>
                        <th width="15%">測定日</th>
                        <th width='20%'>測定時間</th>
                        <th width='15%'>測定標本数</th>
                        <th width='20%'>最大値</th>
                        <th width="20%">最小値</th>
                        <th width="10%"></th>
                    </tr>
                </thead>
                <tbody id="radiationListfileArea">
                </tbody>
            </table>
        </div>
    </div>
</div>
