<div id="radiationListPage"
    class="contents__primary scroller" role="content">
    <div class="panel">
        <div id="radiationListHolder">
            <div>
                <h3>車載線量計データ一覧</h3>
                <button data-radiation-register-button
                    class="button">新規アップロード</button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th width="15%">測定日</th>
                        <th width='20%'>測定時間</th>
                        <th width='15%'>測定標本数</th>
                        <th width='20%'>最大値</th>
                        <th width="20%">最小値</th>
                        <th width="10%"></th>
                    </tr>
                </thead>
                <tbody id="radiationListfileArea">
                    <tr>
                        <td>2015/3/2(日)</td>
                        <td>13:32:09～21:32:09</td>
                        <td>66543</td>
                        <td>1.842</td>
                        <td>0.118</td>
                        <td><button data-article-edit-button class="button radius">削除</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
