<div class='file-area__item'>
    <div class="row">
        <div class="large-9 columns">
            <button type="button" id="fileInputButton">
                画像選択
            </button>

            <input type="file" id="articleFile" style="display: none;"
                accept="image/jpeg, image/gif, image/png" /> <img
                id="previewFile"
                data-preview-file
                style="display: none; padding-bottom: 10px;"></img>
            <div>
                <button type="button" id="fileDeleteButton"
                    style="display: none;">画像削除</button>
            </div>
        </div>
    </div>
</div>
