<div id="slideshowListPage" class="large-12 columns" role="content">
    <div id="opeslideshowListHolder">
        <div class="clearfix">
            <h3 class="left">
            スライドショー画像一覧
            </h3>
            <button data-slideshow-register-button class="button right">スライドショー画像登録</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th width="44%">サムネイル</th>
                    <th width='44%'>ファイル名</th>
                    <th width='12%'>編集</th>
                </tr>
            </thead>
            <tbody id="slideshowListfileArea">
            </tbody>
        </table>
    </div>
</div>
