<div id="slideshowRegistPage" class="contents__primary scroller panel" role="content">
    <article>
<h3 id="slideshowRegistTitle">新規スライドショー投稿</h3>
        <form id="slideshowRegistForm">
            <div id="slideshowFileArea">
            </div>
<!-- 
            <div class="row">
                <div class="large-3 columns">
                    <label class="eventColumnsTitle">掲載期間</label>
                </div>
                <div class="large-9 columns end">
                    <div class="large-4 columns">
                        <input id="slideshowRangeDate1" name="slideshowRangeDate1" type="date" class="required"/>
                    </div>
                    <div class="large-1 columns">
                        <label class="eventColumnsTitle">～</label>
                    </div>
                    <div class="large-4 columns end">
                        <input id="slideshowRangeDate2" name="slideshowRangeDate2" type="date" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-3 columns">
                    <label class="eventColumnsTitle">掲載可否</label>
                </div>
                <div class="large-9 columns end">
                    <input id="slideshowRecommendCheck" type="checkbox" /><label for="slideshowRecommendCheck">チェックすると表示対象とします。</label>
                </div>
            </div>
        -->
        </form>
        <div class="row">
            <div class="large-push-4 large-4 columns">
                <button id="slideshowConfirmButton" class="ladda-button" data-style="contract-overlay">
                    <span class="ladda-label">確認画面へ</span>
                </button>
            </div>
            <div class="large-4 columns">
                <button id="slideshowCancelButton" class="ladda-button" data-style="contract-overlay">
                    <span class="ladda-label">キャンセル</span>
                </button>
            </div>
        </div>
    </article>
</div>
<div id="slideshowRegistConfirmWrapperPage" class="contents__primary scroller" role="content"></div>