<article class='post'>
    <div class="panel">
        <section class='post__body'>
            <div class="confirmAttention alert-box info radius">入力した項目の確認です。
                入力内容が正しければ「登録する」を押してください。</div>
            <div class="large-12 columns">
                <div class="large-12 columns">
                    <div class="eventColumnsHeader">メッセージ</div>
                </div>
                <div class="large-11 large-centered columns">
                    <div class="eventFile" data-figure>
                        <div class="eventFileImage">
                            <img data-figure-image>
                        </div>
                    </div>
                    <div class="eventFile" data-figure>
                        <div class="eventFileImage">
                            <img data-figure-image>
                        </div>
                    </div>
                    <div class="eventFile" data-figure>
                        <div class="eventFileImage">
                            <img data-figure-image>
                        </div>
                    </div>
                    <div class="eventFile" data-figure>
                        <div class="eventFileImage">
                            <img data-figure-image>
                        </div>
                    </div>
                    <div class="eventFile" data-figure>
                        <div class="eventFileImage">
                            <img data-figure-image>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="post-action">
            <button id="slideshowRegistButton" type="button"
                class="small button">登録する</button>
            <button id="slideshowBackButton" type="button"
                class="small button">戻る</button>
        </div>
    </div>
</article>
