
<div id="slideshowListPage" class="contents__primary scroller" role="content">
<div class="panel">
    <div id="opeslideshowListHolder">
        <div>
            <h3>
            スライドショー画像一覧
            </h3>
            <button data-slideshow-register-button class="button">スライドショー画像登録</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th width="16%">サムネイル</th>
                    <th width='72%'>ファイル名</th>
                    <th width='12%'>編集</th>
                </tr>
            </thead>
            <tbody id="slideshowListfileArea">
            </tbody>
        </table>
    </div>
</div>
</div>
