<article class="events-detail">
    <div class="row events-detail__image">
        <div class="large-12 columns">
            <img src="app/img/nami.jpg" />
        </div>
    </div>

    <div class="events-detail__info">
        <div data-nehan>
            <p>
イベント名
<br />
<%= model.get("eventName") %>
            </p>

            <p>
日時
<br />
<%= model.get("eventDate") %>
<br />
<%= model.get("eventTime") %>
            </p>

            <p>
場所
<br />
<%= model.get("eventPlace") %>
            </p>

            <p>
連絡先
<br />
<%= model.get("eventTel") %>
<br />
<%= model.get("eventEmail") %>
            </p>

            <p>
詳細
<br />
<%= model.get("eventDetail") %>
            </p>
        </div>
    </div>
</article>