<style>
/**
 *  カレンダーが崩れるため、仮修正でheaderをオーバーライドしている。
 */
.header {
    margin: 0px 0px 0;
    height: 100%;
}
</style>
<aside id='contents__secondary'
    class="contents__secondary columns large-3">
    <input type="text" data-date data-fixed />
    <div>
        <input id="eventCalendar" type="text" data-date-time />
    </div>

    <div class="sidebar">
        <ul id='sidebar__list' class='sidebar__list'></ul>
    </div>
    <button data-sequence-register-button class="button">並び順保存</button>
</aside>

<div id='contents__primary' class="contents__primary columns large-9 scroller"
    role='content'>
    <section id="opeNewsList">

    </section>
</div>
