<style>
/**
 *  カレンダーが崩れるため、仮修正でheaderをオーバーライドしている。
 */
.header {
    margin: 0px 0px 0;
    height: 100%;
}
</style>
<aside id='contents__secondary'
    class="contents__secondary columns large-3">
    <input type="text" data-date data-fixed />

    <div class="sidebar">
        <ul id='sidebar__list' class='sidebar__list'></ul>
    </div>
    <button data-sequence-register-button class="button" style="display:none">並び順保存</button>
    <label id="sequenceConfirm" style="display:none; color:red;">並び順が変更されています。
    並び順保存ボタンをクリックして保存してください。</label>
    <button data-dojo-achievement-button class="button" style="margin-top:50px">道場達成状況CSVダウンロード</button>
</aside>

<div id='contents__primary' class="contents__primary columns large-9 scroller"
    role='content'>
    <section id="opeNewsList">

    </section>
</div>
