<div
    id="letter-select"
    class="letter-select"
>
    <div class="row">
        <div class="column large-12">
            <div class="letter-select-description">
                日常のちょっと嬉しかったできごと、楽しかったできごとを写真に撮って投稿してね。<br>
                投稿した写真は、次の日になみえ新聞に掲載されるよ！<br>
                さっそく「新しく投稿する」ボタンを押して、写真を投稿しよう！
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column large-12">
            <a id="post_new_letter" href="/letters/new" class="button letter-select-button letter-select-button--new">
                <div class="letter-select-button-inner">
                    <div class="letter-select-button-title">
                        新しく投稿する
                    </div>
                    <div class="letter-select-button-description">
                        写真にひとこと添えて「なみえ新聞」に投稿します。
                    </div>
                </div>
                <div class="letter-select-button-bg">
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="column large-12">
            <a href="/letters" class="button letter-select-button letter-select-button--list">
                <div class="letter-select-button-inner">
                    <div class="letter-select-button-title">
                        編集する
                    </div>
                    <div class="letter-select-button-description">
                        投稿した写真を削除できます。
                    </div>
                </div>
                <div class="letter-select-button-bg">
                </div>
            </a>
        </div>
    </div>
</div>