<div
    id="letter-select"
    class="letter-select"
>
    <div class="row">
        <div class="column large-12">
            <div class="letter-select-description">
                自分で撮った写真にひとこと添えて、投稿ができます。投稿した写真は、翌日以降になみえ新聞に掲載されます。（抽選の場合があります）
                また、過去に投稿した写真を見ることができます。写真ひとことの編集と、写真の削除もできます。
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column large-12">
            <a href="/letters/new" class="button letter-select-button letter-select-button--new">
                <div class="letter-select-button-inner">
                    <div class="letter-select-button-title">
                        新しく投稿する
                    </div>
                    <div class="letter-select-button-description">
                        自分で撮った写真にひとこと添えて、投稿ができます。<br>
                        さっそく投稿してみましょう！
                    </div>
                </div>
                <div class="letter-select-button-bg">
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="column large-12">
            <a href="/letters" class="button letter-select-button letter-select-button--list">
                <div class="letter-select-button-inner">
                    <div class="letter-select-button-title">
                        編集する
                    </div>
                    <div class="letter-select-button-description">
                        投稿した写真を編集、削除することができます。
                    </div>
                </div>
                <div class="letter-select-button-bg">
                </div>
            </a>
        </div>
    </div>
</div>