<div
    class="row"
    id="login"
>
    <div class="large-12 columns">
        <div class="row">
            <div class="large-6 large-offset-3 columns">
                <label>ユーザー名:</label>
                <input
                    id="loginId"
                    type="text"
                    placeholder="loginID"
                    value=""
                >

                <label>パスワード:</label>
                <input
                    id="password"
                    type="password"
                    placeholder="password"
                    value=""
                >

                <button
                    id="loginButton"
                    class='button'
                    style="width: 100%; padding: 16px 0;"
                >ログイン</button>
            </div>
        </div>
    </div>
</div>
