<div class="row" id="login">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-6 large-offset-3 columns">
                ユーザー名:<input id="loginId" type="text"
                    placeholder="loginID" value="ukedon">
                パスワード:<input id="password" type="password"
                    placeholder="password" value="namie01">
                <button id="loginButton" class='button' style="width: 100%; padding: 16px 0;">
                    ログイン
                </button>
            </div>
        </div>
    </div>
</div>
