<div
    id="global-help"
    class="global-help"
    data-step="1"
>
    <div id="global-help__dialog" class="global-help__dialog">
        <div
            id="global-help-pages"
            class="global-help-pages"
        >
            <h3>A</h3>
            <section>
                <h4>ヘルプ - タイトルが入ります1 -</h4>
                <div class="global-help__image global-help__image--1"></div>
                <p>
                    ①
                    文章が入ります
                    文章が入ります
                    文章が入ります
                    文章が入ります
                    文章が入ります
                </p>
            </section>

            <h3>B</h3>
            <section>
                <h4>ヘルプ - タイトルが入ります2 -</h4>
                <div class="global-help__image global-help__image--2"></div>
                <p>
                    ②
                    文章が入ります
                    文章が入ります
                    文章が入ります
                    文章が入ります
                    文章が入ります
                </p>
            </section>

            <h3>C</h3>
            <section>
                <h4>ヘルプ - タイトルが入ります3 -</h4>
                <div class="global-help__image global-help__image--3"></div>
                <p>
                    ③
                    文章が入ります
                    文章が入ります
                    文章が入ります
                    文章が入ります
                    文章が入ります
                </p>
            </section>
        </div>
    </div>
</div>