<div
    id="global-help"
    class="global-help"
    data-step="1"
>
    <div id="global-help__dialog" class="global-help__dialog">
        <button class="button button--blue button--close" data-close>
            閉じる
        </button>

        <div
            id="global-help-pages"
            class="global-help-pages"
        >
            <h3>1</h3>
            <section>
                <h4>なみえ新聞の読み方　（１ / ９）</h4>
                <div class="global-help__image global-help__image--1"></div>
            </section>

            <h3>2</h3>
            <section>
                <h4>なみえ新聞の読み方　（２ / ９）</h4>
                <div class="global-help__image global-help__image--2"></div>
            </section>

            <h3>3</h3>
            <section>
                <h4>なみえ新聞の読み方　（３ / ９）</h4>
                <div class="global-help__image global-help__image--3"></div>
            </section>

            <h3>4</h3>
            <section>
                <h4>なみえ新聞の読み方　（４ / ９）</h4>
                <div class="global-help__image global-help__image--4"></div>
            </section>

            <h3>5</h3>
            <section>
                <h4>なみえ新聞の読み方　（５ / ９）</h4>
                <div class="global-help__image global-help__image--5"></div>
            </section>

            <h3>6</h3>
            <section>
                <h4>なみえ新聞の読み方　（６ / ９）</h4>
                <div class="global-help__image global-help__image--6"></div>
            </section>

            <h3>7</h3>
            <section>
                <h4>なみえ新聞の読み方　（７ / ９）</h4>
                <div class="global-help__image global-help__image--7"></div>
            </section>

            <h3>8</h3>
            <section>
                <h4>なみえ新聞の読み方　（８ / ９）</h4>
                <div class="global-help__image global-help__image--8"></div>
            </section>

            <h3>9</h3>
            <section>
                <h4>なみえ新聞の読み方　（９ / ９）</h4>
                <div class="global-help__image global-help__image--9"></div>
            </section>
        </div>
    </div>
</div>