<div class="panel">
    <div id="characterMessageCollectionListPage"
        class="contents__primary scroller" role="content">
        <div class="panel">
            <div id="characterMessageCollectionListHolder">
                <div>
                    <h3>キャラクターメッセージ一覧</h3>
                    <button data-character-message-register-button
                        class="button">キャラクターメッセージ一覧登録</button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th width="14%">表示</th>
                            <th width="14%">種別</th>
                            <th width='48%'>メッセージ</th>
                            <th width='24%'>操作</th>
                        </tr>
                    </thead>
                    <tbody id="characterMessageCollectionList">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>