<div
    id="letter-wizard"
    class="letter-wizard"
>
    <form id="letter-form">
        <div
            id="letter-wizard-pages"
            class="letter-wizard-pages"
        >
            <h3>画像選択</h3>
            <section>
                <h4>画像を選んでください。</h4>
                <div class="large-12 columns">
                    <img
                        id="previewFile"
                        class="preview-file right"
                        data-preview-file
                    ></img>

                    <button
                        type="button"
                        id="fileInputButton"
                        class='button'
                    >画像選択</button>

                    <input
                        type="file"
                        id="articleFile"
                        style="display: none;"
                        accept="image/jpeg, image/gif, image/png"
                    >

                    <div>
                        <button
                            type="button"
                            id="fileDeleteButton"
                            class='button button--gray'
                            style="display: none;"
                        >画像削除</button>
                    </div>
                </div>
            </section>

            <h3>文章入力</h3>
            <section>
                <h4>文章を入力してください。</h4>

                <div class="letter-form">
                    <div class="row">
                        <div class="columns large-3">
                            <label for="letter-wizard-form__body">
                                本文 </label>
                        </div>

                        <div class="columns large-9">
                            <textarea
                                id="letter-wizard-form__body"
                                rows="10"
                            ></textarea>
                        </div>
                    </div>
                </div>
            </section>

            <h3>ニックネーム入力</h3>
            <section>
                <h4>ニックネームを入力して下さい。</h4>

                <div class="letter-form">
                    <div class="row">
                        <div class="columns large-3">
                            <label for="letter-wizard-form__nickname">ニックネーム</label>
                        </div>

                        <div class="columns large-9">
                            <input
                                type="text"
                                class="required"
                                id="letter-wizard-form__nickname"
                            />
                        </div>
                    </div>
                </div>
            </section>

            <h3>確認</h3>
            <section>
                <h4>下記の内容で投稿をしますがよろしいですか？</h4>

                <table class="letter-form">
                    <tr>
                        <th><label>ニックネーム</label></th>

                        <td id="confirmNickname"></td>
                    </tr>

                    <tr>
                        <th><label> 本文 </label></th>

                        <td id="confirmDescription"></td>
                    </tr>

                    <tr>
                        <th><label> 画像 </label></th>

                        <td><img
                            id="letterPicture"
                            src=""
                        ></td>
                    </tr>
                </table>
            </section>
        </div>
    </form>
</div>