<div
    id="letter-edit"
    class="letter-edit contents__primary"
>
    <h2>投稿完了</h2>

    <div class="letter-edit-form letter-section">
        <div class="letter-form">
            <div class="row">
                <div class="columns large-12">
                    <div class="guide">
                        投稿が完了しました。「最初の画面に戻る」ボタンを押して、最初の画面に戻ってください。
                        <div style="margin-bottom: 100px;"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="columns large-12 text-center column--action">
                    <a
                        href="/letter"
                        class="button button--gray"
                    >
                        最初の画面に戻る
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>