<div
    id="letter-wizard"
    class="letter-wizard"
    data-step="1"
>
    <form id="letter-form">
        <div
            id="letter-wizard-pages"
            class="letter-wizard-pages"
        >
            <h3>投稿する写真をタップしてください。</h3>
            <section>
                <!-- <h4>画像を選んでください。</h4> -->
                <div class="large-12 columns">
                    <ul id="gallery-list" class='gallery-list'></ul>
                     <img
                        id="previewFile"
                        class="preview-file right onPC"
                        data-preview-file
                    ></img>

                    <button
                        type="button"
                        id="fileInputButton"
                        class='button onPC'
                    >画像選択</button>

                    <input
                        type="file"
                        id="articleFile"
                        style="display: none;"
                        class="onPC"
                        accept="image/jpeg, image/gif, image/png"
                    >

                    <div class="onPC">
                        <button
                            type="button"
                            id="fileDeleteButton"
                            class='button button--gray'
                            style="display: none;"
                        >画像削除</button>
                    </div>
                </div>
            </section>

            <h3>写真にひとことを添えて、「OK」ボタンをタップしてください。</h3>
            <section>
                <!-- <h4>文章を入力してください。</h4> -->

                <div class="letter-form">
                    <div class="row">
                        <div class="columns large-2">
                            <label for="letter-wizard-form__body">
                                ひとこと </label><br>
                            <img
                                class="letterPicture"
                                src=""
                            >
                        </div>

                        <div class="columns large-7">
                            <textarea
                                id="letter-wizard-form__body"
                                placeholder="ここをタップすることで、ひとことが入力できます。"
                                class="required"
                                rows="9"
                            ></textarea>
                        </div>

                        <div class="columns large-3">
                        </div>
                    </div>

                    <div class="row">
                        <div class="columns large-10 large-offset-2 guide">
                            例　・近所の公園の桜が八分咲きだったので、写真に撮りました。<br>
                            　　・〇〇小学校の運動会に行ってきました！みんな、精一杯頑張っていました。
                        </div>
                    </div>
                </div>
            </section>

            <h3>投稿者のお名前を入力して、「OK」ボタンをタップしてください。</h3>
            <section>
                <!-- <h4>ニックネームを入力して下さい。</h4> -->

                <div class="letter-form">
                    <div class="row">
                        <div class="columns large-3">
                            <label for="letter-wizard-form__nickname">お名前<span class="note">（ペンネーム可）</span></label>
                        </div>

                        <div class="columns large-6">
                            <input
                                type="text"
                                class="required"
                                id="letter-wizard-form__nickname"
                            />
                        </div>

                        <div class="columns large-3">
                        </div>
                    </div>

                    <div class="row">
                        <div class="columns large-9 large-offset-3 guide">
                            例　請戸のよっちゃん
                        </div>
                    </div>
                </div>
            </section>

            <h3>内容を確認して、よろしければ「投稿」ボタンをタップしてください。</h3>
            <section>
                <!-- <h4>下記の内容で投稿をしますがよろしいですか？</h4> -->

                <div class="letter-form">
                    <div class="row">
                        <div class="columns large-6">
                            <img
                                class="letterPicture"
                                src=""
                            >
                        </div>

                        <div class="columns large-6 guide">
                            <div id="confirmNickname"></div>
                            <div id="confirmDescription"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </form>
</div>