<div id="characterImageCollectionListPage"
    class="contents__primary scroller" role="content">
    <div class="panel">
        <div id="characterImageCollectionListHolder">
            <div>
                <h3>キャラクター選択</h3>
            </div>
            <table>
                <thead>
                    <tr>
                        <th width="14%">表示</th>
                        <th width='86%'>キャラクター</th>
                    </tr>
                </thead>
                <tbody id="characterImageCollectionList">
                </tbody>
            </table>
        </div>
    </div>
</div>
