<div class="row">
    <div class="large-12 columns">
        <div class="row" style='margin: 32px 0;'>
            <div class="large-12 columns text-center">
                <img src="app/img/ukedon_3_2.png" class="animated bounceIn" style='height:200px'/>
                <span class="animated fadeInUp"
                    style="-webkit-animation-delay: 1s; font-size: xx-large;">浪江町アプリ管理ツール</span>
            </div>
        </div>
        
        <div class="row">
            <div class="large-6 large-offset-3 columns">
                <label>loginID:</label><input id="loginId" type="text"
                    placeholder="loginID" value="">
                <label>password:</label><input id="password" type="password"
                    placeholder="password" value="">
                <button id="loginButton" class='button' style="width: 100%; padding: 16px 0;">
                    ログイン
                </button>
            </div>
        </div>
    </div>
</div>