<nav class="top-bar" data-topbar role="navigation">
    <section class="top-bar-section">
        <div class="global-nav__right right">
            <ul class="button-group right">
                <li>
                    <a href="#" class="button" data-font-size='16'>
                        小
                    </a>
                </li>

                <li>
                    <a href="#" class="button" data-font-size='20'>
                        中
                    </a>
                </li>

                <li>
                    <a href="#" class="button" data-font-size='26'>
                        大
                    </a>
                </li>
            </ul>

            <span class='right' style='margin: 0 8px; font-size: 14px;'>文字サイズ</span>
        </div>
    </section>
</nav>