<nav class="top-bar" data-topbar role="navigation">
    <section class="top-bar-section">
        <ul class="title-area left">
            <li class="name">
                <h1>
                    <a href="#">投稿アプリ</a>
                </h1>
            </li>
        </ul>
            <ul class="right">
                <li>
                    <a href="#" class="button" data-font-size='16' value="small">
                        小
                    </a>
                </li>

                <li>
                    <a href="#" class="button" data-font-size='20' value="middle">
                        中
                    </a>
                </li>

                <li>
                    <a href="#" class="button" data-font-size='26' value="large">
                        大
                    </a>
                </li>
            </ul>
    </section>
</nav>