<div
    id="letter-edit"
    class="letter-edit contents__primary"
>
    <h2>過去の投稿の編集</h2>

    <div class="letter-edit-form letter-section">
        <div class="letter-form">
            <div class="row">
                <div class="columns large-12">
                    <div class="guide">
                        請戸のよっちゃん さん<br>
                        <br>
                        編集が完了しました。「一覧の画面に戻る」ボタンを押して、一覧の画面に戻ってください。
                        <div style="margin-bottom: 100px;"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="columns large-12 text-center column--action">
                    <a
                        href="letters"
                        class="button button--gray"
                    >
                        一覧の画面に戻る
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>