<div
    id="letter-edit"
    class="letter-edit contents__primary"
>
    <h2>過去の投稿の編集</h2>

    <div class="letter-edit-form letter-section">
        <div class="letter-form">
            <form id="letter-edit-form">
                <div class="row">
                    <div class="columns large-2">
                        <label for="letter-edit-form__camera">写真</label>
                    </div>

                    <div class="columns large-9 end">
                        <img
                            class="letterPicture letterPicture-<%= model.get('__id') %>"
                            src=""
                        >
                    </div>
                </div>

                <div class="row">
                    <div class="columns large-2">
                        <label for="letter-edit-form__body">ひとこと</label>
                    </div>

                    <div class="columns large-9 end">
                        <textarea
                            name="letter-edit-form__body"
                            id="letter-edit-form__body"
                            class="required"
                        ><%= model.get("description") %></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="columns large-2">
                        <label for="letter-edit-form__nickname">お名前<br>
                        <span class="note">（ニックネーム可）</span></label>
                    </div>

                    <div class="columns large-9 end">
                        <input
                            type="text"
                            name="letter-edit-form__nickname"
                            id="letter-edit-form__nickname"
                            class="required"
                            value="<%= model.get("nickname") %>" >
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="columns large-12 text-center column--action">
                    <a
                        href="letters"
                        class="button button--gray"
                    >
                        戻る
                    </a>
    
                    <button
                        class="button"
                        data-update-letter
                    >
                        更新する
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>