<article class='post post--<%= model.getSiteType() %>' id="<%= model.get('__id') %>">
    <section class='post__body'>
        <div class="row">
            <div class="large-12 columns">
                <div class="post-header">
                    <div class="post-header__title">
                        <%= model.get("dispTitle") %>
                    </div>

                    <div class="post-header__site">
                        <div class="post-label">
                            <div class="article-label left">
                                <span class='article-label__text'>
                                    <%= model.get("dispSite") %>
                                </span>
                            </div>
                        </div>

                        <div class="tagListArea"></div>
                    </div>
                </div>
            </div>
        </div>

        <%= model.get("rawHTML") %>
        <%= model.get("rawHTML2") %>
        <%= model.get("rawHTML3") %>
    </section>
</article>
