<article class='post post--<%= model.getSiteType() %>' id="<%= model.get('__id') %>">
    <section class='post__body clearfix'>
        <div class="post-header">
            <div class="post-header__title">
               <%= model.get("dispTitle") %>
            </div>

            <div class="post-header__site">
                <div class="post-label">
                    <div class="article-label left">
                        <span class='article-label__text'>
                            <%= model.getCategory() %>
                        </span>
                    </div>
                </div>

                <div class="tagListArea"></div>
            </div>
        </div>

        <div class="eventFile">
            <div class="eventFileImage">
                <img>
            </div>

            <div class="text-center">
                <%=model.get("imageComment")%>
            </div>
        </div>
        <div class="eventFile">
            <div class="eventFileImage">
                <img>
            </div>

            <div class="text-center">
                <%=model.get("imageComment2")%>
            </div>
        </div>
        <div class="eventFile">
            <div class="eventFileImage">
                <img>
            </div>

            <div class="text-center">
                <%=model.get("imageComment3")%>
            </div>
        </div>

        <div class="eventColumnsHeader">日時</div>
        <div class="eventColumnsBody">
            <div id="articleDateTime" style="font-weight: bold;"></div>
        </div>

        <div class="eventColumnsHeader">場所</div>
        <div class="eventColumnsBody">
            <div>
                <%=model.get("dispPlace")%>
            </div>
        </div>

        <div class="eventColumnsHeader">内容</div>
        <div class="eventColumnsBody">
            <div>
                <%=model.get("dispDescription")%>
            </div>
        </div>

        <div class="eventColumnsHeader">主催者連絡先</div>
        <div class="eventColumnsBody">
            <div>
                <%=model.get("dispContactInfo")%>
            </div>
        </div>
    </section>
</article>
