<article class='post' id="<%= model.get('__id') %>">
    <section class='post__body'>
        <div class="row">
            <div class="large-12 columns">
                <div class="post-header">
                    <div class="post-header__site">
                        <div class="post-label">
                            <%= model.get("dispSite") %>
                        </div>
                        <div class="tagListArea"></div>
                    </div>

                    <div class="post-header__title">
                        <%= model.get("dispTitle") %>
                    </div>
                    <%= model.recommendAmount %>おすすめ
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns nehandiv">
                <div class="post-main">
                    <div id="articleDetailImageArea" class='post-main__image'>
                        <img class="articleDetailImage" class="nehan-float-start">
                    </div>
                    
                    <div class="post-main__description">
                        <div class="large-12 columns">
                            <div class="row">
                                <div class="large-3 columns">
                                    <span style="font-weight: bold;">日時：</span>
                                </div>
                                <div class="large-9 columns">
                                    <%= model.get("dispDate") %>
                                </div>
                            </div>
                        </div>
                        <div class="large-12 columns">
                            <div class="row">
                                <div class="large-3 columns">
                                    <span style="font-weight: bold;">場所：</span>
                                </div>
                                <div class="large-9 columns">
                                    <%= model.get("dispPlace") %>
                                </div>
                            </div>
                        </div>
                        <div class="large-12 columns">
                            <div class="row">
                                <div class="large-3 columns">
                                    <span style="font-weight: bold;">イベント詳細：</span>
                                </div>
                                <div class="large-9 columns">
                                    <%= model.get("description") %>
                                </div>
                            </div>
                        </div>
                        <div class="large-12 columns">
                            <div class="row">
                                <div class="large-3 columns">
                                    <span style="font-weight: bold;">連絡先電話番号：</span>
                                </div>
                                <div class="large-9 columns">
                                    <%= model.get("dispTel") %>
                                </div>
                            </div>
                        </div>
                        <div class="large-12 columns">
                            <div class="row">
                                <div class="large-3 columns">
                                    <span style="font-weight: bold;">連絡先Email：</span>
                                </div>
                                <div class="large-9 columns">
                                    <%= model.get("dispEmail") %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns articleLink">
                <%= model.get("link") %>
            </div>
        </div>
    </section>
    
    <section class='post__footer'>
        <div class="post-action">
            <button data-recommend-register-button type="button" class="small button">
                おすすめ
            </button>
            <button data-recommend-delete-button type="button" class="small secondary button">
                おすすめ取消
            </button>

            <button data-favorite-register-button type="button" class="small button">
                切り抜き
            </button>
            <button data-favorite-delete-button type="button" class="small button secondary">
                切り抜き削除
            </button>
        </div>

        <div class="row tagInputArea collapse">
            <div class="large-2 columns tagColumnsLabel">
                <span>タグ追加</span>
            </div>
            <div class="large-5 columns">
                <input id="tagInput" type="text">
            </div>
            <div class="large-1 columns end" style="font-size: small;">
                <button id="tagAddButton" type="button" style="font-size: small;" class="button postfix">追加</button>
            </div>
        </div>
    </section>
</article>
