<article class='post post--<%= model.getSiteType() %>' id="<%= model.get('__id') %>">
    <section class='post__body'>
        <div class="row">
            <div class="large-12 columns">
                <div class="post-header">
                    <div class="post-header__site">
                        <div class="post-label">
                            <div class="article-label left">
                                <span class='article-label__text'>
                                    <%= model.get("dispSite") %>
                                </span>
                            </div>
                        </div>

                        <div class="tagListArea"></div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <div class="eventTitle">
                       <%= model.get("dispTitle") %>
                    </div>
                </div>

                <div class="large-12 columns">
                    <table class="eventDetail">
                        <tr>
                            <th>日時</th>
                            <td id="articleDateTime"></td>
                        </tr>
                        <tr>
                            <th>場所</th>
                            <td>
                                <%=model.get("dispPlace")%>
                            </td>
                        </tr>
                        <tr>
                            <th>内容</th>
                            <td>
                                <%=model.get("dispDescription")%>
                            </td>
                        </tr>
                        <tr>
                            <th>画像</th>
                            <td>
                                <div class="eventFile">
                                    <div class="eventFileImage">
                                        <img>
                                    </div>
                                   <%=model.get("imageComment")%>
                                </div>
                                <div class="eventFile">
                                    <div class="eventFileImage">
                                        <img>
                                    </div>
                                   <%=model.get("imageComment2")%>
                                </div>
                                <div class="eventFile">
                                    <div class="eventFileImage">
                                        <img>
                                    </div>
                                   <%=model.get("imageComment3")%>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>主催者連絡先</th>
                            <td>
                                <%=model.get("dispContactInfo")%>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</article>
