<div data-article-id="<%= model.get('__id') %>"
    class="feedListItem feed-item small-6 large-4 columns">
    <div class="row">
        <div class="large-6 columns small-3">
            <img src="http://placehold.it/500x500&amp;text=Thumbnail" class="articleImage" />
        </div>
        <div class="large-6 columns">
            <p>
                <strong><%= model.get("dispSite") %></strong>
            <div>
                <p class="articleTitle"><%= model.get("dispTitle")
                    %></p>
            </div>
            </p>
        </div>
    </div>
</div>

<!-- <div data-article-id="<%= model.get('__id') %>"
    class="feedListItem feed-item large-4 small-6 columns">
    <img class="articleImage">
    <div class="panel">
        <h5>
            <span> <%= model.get("dispSite") %> </span>
        </h5>
        <div>
            <p class="articleTitle"><%= model.get("dispTitle") %></p>
        </div>
    </div>
</div> -->
<!-- <li data-article-id="<%= model.get('__id') %>" class="feedListItem feed-item">
    <div class="feed-cell feed-cell--label">
        <div class="feed-label feed-label--pink">
            <div class='img'>
                <span class='feed-label__text'>
                    <%= model.get("dispSite") %>
                </span>
            </div>
        </div>
    </div>

    <div class="feed-cell feed-cell--body">
        <div class="feed-item__body">
            <p class="articleTitle article-title">
                <%= model.get("dispTitle") %>
            </p>
        </div>
    </div>
</li> -->