<ul
    id="grid-list"
    class='grid-list'
></ul>

<div
    id="grid-list-footer"
    class="grid-list-footer clearfix"
>
    <div class="left">
        <div class="grid-list-footer__logo grid-list-footer__logo--minpo"></div>

        <small>
            「<span class="text--localnews">福島民報</span>」のラベルがついた記事は、福島民報から提供いただきました。
        </small>

        <div class="namie-license namie-license--news">
            <a href="http://www.namie-tablet.org/licence/" data-external-link>
                <i class="fa fa-external-link"></i>
                このアプリについて
            </a>
        </div>
    </div>
</div>
