<li
    data-article-id="<%= model.get('__id') %>"
    class="grid-list__item"
>
    <div class="grid-cell--image">
        <img class="articleImage">
    </div>
    
    <div class="grid-cell--body">
        <div class="grid-description">
            <p class="grid-description__title">
                <%= model.get("dispTitle") %>
            </p>
        </div>
        
        <div class="article-label <%= model.getCssClass() %>">
            <span class='article-label__text '>
                <%= model.getCategory() %>
            </span>
        </div>
    </div>
</li>
