<li
    data-article-id="<%= model.get('__id') %>"
    class="grid-list__item"
>
    <div class="grid-cell--image">
        <img class="articleImage">
    </div>

    <div class="grid-cell grid-cell--label">
        <div class="grid-label grid-label--pink">
            <div class='img'>
                <span class='grid-label__text'>
                    <%= model.get("dispSite") %>
                </span>
            </div>
        </div>
    </div>

    <div class="grid-cell grid-cell--body">
        <div class="grid-item__body">
            <p class="articleTitle article-title">
                <%= model.get("dispTitle") %>
            </p>
        </div>
    </div>
</li>