<article class='post post--letter' id="<%= model.get('__id') %>">
    <section class='post__body'>
        <div class="post-header">
            <div class="post-header__title"><%=
                model.get("dispTitle") %></div>
        </div>

        <% if(model.get("articles").length === 0) { %> 写真投稿がありません <% } %>

        <% _.each(model.get("articles"), function(dateModel) { %>
            <div class="letters-group-heading">
                <%= dateModel.get("dispTitle") %>
            </div>

            <div class="letters-detail letters-group">
                <% _.each(dateModel.get("articles"), function(model) { %>
                    <div class="row letters-article">
                        <div class="columns large-4">
                            <div class="eventFile">
                                <div class="eventFileImage">
                                    <img class="articleDetailImage">
                                </div>
                            </div>
                        </div>

                        <div class="columns large-8">
                            <div class="letter-detail__description"><%=
                                model.get("dispDescription") %></div>
                            <div class="letter-detail__nickname">
                                <%= model.get("nickname") %> <span
                                    class="letter-detail__nickname-unit">
                                    さん </span>
                            </div>

                        </div>
                    </div>
                <% }); %>
            </div>
        <% }); %>
    </section>

    <section class='post__footer'></section>
</article>
