<article
    class='post post--letter'
    id="<%= model.get('__id') %>"
>
    <section class='post__body'>
        <div class="post-header">
            <div class="post-header__title">
                <%= model.get("dispTitle") %>
            </div>
        </div>

        <% if(model.get("articles").length === 0) { %>
    写真投稿がありません
        <% } %>
        <% _.each(model.get("articles"), function(dateModel) { %>
            <%= dateModel.get("dispTitle") %>
            <% _.each(dateModel.get("articles"), function(model) { %>
                <div class="letters-detail">
                    <div class="row">
                        <div class="columns large-7">
                            <div class="eventFile">
                                <div class="eventFileImage">
                                    <img class="articleDetailImage">
                                </div>

                                <%= model.get("imageComment") %>
                            </div>
                        </div>

                        <div class="columns large-5">
                                                    <div class="letter-detail__description">
                                <%= model.get("dispDescription") %>
                            </div>
                        
                        </div>
                    </div>
                    <div class="letter-detail__nickname" style="float:right">
                        <%= model.get("nickname") %>
                        <span class="letter-detail__nickname-unit">
                            さん
                        </span>
                    </div>
                </div>
            <% }); %>
        <% }); %>
    </section>

    <section class='post__footer'>
    </section>
</article>
