<aside id='contents__secondary' class="contents__secondary columns small-3">
    <div class='side-action'>
        <div class="side-action__header">
            今日のおすすめ
        </div>

        <div class="side-action__content">
            <div class="side-action__header">
                <h5>
                    寿司屋のおかみの日常
                </h5>
            </div>

            <div class="side-action__body">
                <div class="side-action__image">
                    <img src="/app/img/dummy-manga.png" alt="" />
                </div>

                <div class="side-action__description">
                    <p>
                        大人気！浪江の寿司屋のおかみが執筆するほのぼの日常マンガ！第2話
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <div class="sidebar__header">
            今日の記事一覧
        </div>

        <ul id='sidebar__list' class='sidebar__list'></ul>
    </div>
</aside>

<div id='contents__primary' class="contents__primary columns small-9" role='content'>
    <section id="article-list" class='iscroll-container'></section>
</div>
