<article
    class='post post--<%= model.getSiteType() %>'
    id="<%= model.get('__id') %>"
>
    <section class='post__body'>
        <div class="row">
            <div class="large-12 columns">
                <div class="post-header">
                    <div
                        class="post-header__title post-header__title--youtube"
                    >
                        <%= model.get("dispTitle") %>
                    </div>

                    <div class="post-header__site">
                        <div class="post-label">
                            <div
                                class="article-label article-label--<%= model.getSiteType() %> left"
                            >
                                <span class='article-label__text'>
                                    <%= model.get("dispSite") %>
                                </span>
                            </div>
                        </div>

                        <div class="tagListArea"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns nehandiv">
                <div
                    id="articleDetailImageArea"
                    class="article-detail__image-area article-detail__image-area--youtube"
                    height="390"
                    width="390"
                >
                    <div class="article-detail__image-area--inner">
                        <div
                            id='youtubePlayer-<%= model.get("link") %>'
                            style="max-width: 100%;"
                        ></div>

                        <div class="row article-detail__youtube-action">
                            <div class="columns large-6">
                                <button
                                    class="button expand"
                                    data-play-movie
                                    style="margin-top: 8px; display: none;"
                                >動画再生</button>
                            </div>

                            <div class="columns large-6">
                                <button
                                    class="button expand"
                                    data-pause-movie
                                    style="margin-top: 8px;"
                                >動画一時停止</button>
                            </div>
                        </div>
                    </div>

                    <div class="article-detail__image-description">
                        <%= model.get("description") %>
                    </div>
                </div>
            </div>
    </section>
</article>
