<article class='post post--<%= model.getSiteType() %>' id="<%= model.get('__id') %>">
    <section class='post__body'>
        <div class="row">
            <div class="large-12 columns">
                <div class="post-header">
                    <div class="post-header__site">
                        <div class="post-label">
                            <div class="article-label article-label--<%= model.getSiteType() %> left">
                                <span class='article-label__text'>
                                    <%= model.get("dispSite") %>
                                </span>
                            </div>
                        </div>

                        <div class="tagListArea"></div>
                    </div>

                    <div class="post-header__title post-header__title--youtube">
                        <%= model.get("dispTitle") %>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns nehandiv">
                <div id="articleDetailImageArea" class="article-detail__image-area" height="390" width="390" >
                    <div class="article-detail__image-area--inner">
                        <div id='youtubePlayer-<%= model.get("link") %>' style="max-width: 100%;"></div>
                    </div>
                </div>
                <%= model.get("description") %>
            </div>
        </div>
    </section>
</article>
