<div id="dojo-lesson" class="dojo-lesson is-<%= model.getSolvedState() %> is-<%= model.getWatchedState() %> is-ready">
    <div class="dojo-lesson__body">
        <a class="button dojo-lesson__back" data-back>
            ✕
        </a>

        <div id="dojo-lesson__content" class="dojo-lesson__content"></div>

        <div class="row dojo-lesson__content-action">
            <div id="cell-play-movie">
                <button
                    class="button expand"
                    data-play-movie
                    style="margin-top: 8px; display: none;"
                >動画再生</button>
            </div>

            <div id="cell-pause-movie">
                <button
                    class="button expand"
                    data-pause-movie
                    style="margin-top: 8px; display: none;"
                >動画一時停止</button>
            </div>
        </div>

        <div class="dojo-lesson__footer">
            <div class="visible-ready">
                <div class="dojo-lesson__title">
                    <%= model.get("title") %>
                    を再生中
                </div>
            </div>

            <div class="visible-ended">
                <div class="dojo-lesson__q">
                    習得できましたか？
                </div>

                <div class="text-center">
                    <button class="button dojo-lesson__action--playback" data-playback-lesson>
                        <div>
                            まだよく分からない
                        </div>

                        <div>
                            (動画をもう一度再生)
                        </div>
                    </button>

                    <button class="button dojo-lesson__action--complete" data-complete-lesson>
                        習得した
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="dojo-lesson__header">
        <a class="button left" data-back>
            動画一覧へ戻る
        </a>

        <h2 class="dojo-lesson__heading">
            <div class="dojo-stamp right">
                済
            </div>

            <span class="dojo-lesson__edition">
                <%= editionModel.get("editionTitle") %>
            </span>

            <div class="dojo-lesson__title">
                <%= model.get("title") %>
            </div>
        </h2>
    </div>

    <div class="dojo-lesson__body">
        <p class="dojo-lesson__description">
            <%= model.get("description") %>
        </p>
        
        <div id="dojo-lesson__content" class="dojo-lesson__content">
        </div>
        <div class="row">
            <div class="columns large-6">
                <button class="button expand" data-play-movie style="margin-top: 8px;display:none;">
                    動画再生</button>
            </div>

            <div class="columns large-6">
                <button class="button expand" data-pause-movie style="margin-top: 8px;">
                    動画一時停止</button>
            </div>
        </div>

        <div class="dojo-lesson__completion">
            <p>
                この操作はできるようになりましたか？
            </p>

            <div class="row">
                <div class="columns small-6">
                    <button class="button expand" data-complete-lesson>
                        はい
                    </button>
                </div>

                <div class="columns small-6">
                    <button class="button expand" data-uncomplete-lesson>
                        いいえ
                    </button>
                </div>
            </div>
        </div>
        
        <div id="dojo-lesson-siblings-container" class="dojo-lesson-siblings-container"></div>
    </div>
    -->
</div>