<div class="row">
    <div class="large-12 columns">
        <div class="row" style='margin: 96px 0;'>
            <div class="large-12 columns text-center">
                <span class="animated fadeInUp"
                    style="-webkit-animation-delay: 1s; font-size: xx-large;">浪</span>
                <span class="animated fadeInUp"
                    style="-webkit-animation-delay: 1.1s; font-size: xx-large;">江</span>
                <span class="animated fadeInUp"
                    style="-webkit-animation-delay: 1.2s; font-size: xx-large;">町</span>
                <span class="animated fadeInUp"
                    style="-webkit-animation-delay: 1.3s; font-size: xx-large;">タ</span>
                <span class="animated fadeInUp"
                    style="-webkit-animation-delay: 1.4s; font-size: xx-large;">ブ</span>
                <span class="animated fadeInUp"
                    style="-webkit-animation-delay: 1.5s; font-size: xx-large;">レ</span>
                <span class="animated fadeInUp"
                    style="-webkit-animation-delay: 1.6s; font-size: xx-large;">ッ</span>
                <span class="animated fadeInUp"
                    style="-webkit-animation-delay: 1.7s; font-size: xx-large;">ト</span>
            </div>
        </div>
        
        <div class="row">
            <div class="large-6 large-offset-3 columns">
                loginID:<input id="loginId" type="text"
                    placeholder="loginID" value="ukedon">
                password:<input id="password" type="password"
                    placeholder="password" value="namie01">
                <button id="loginButton" style="width: 100%;">login</button>
            </div>
        </div>
    </div>
</div>