<div class="row">
    <div class="large-12 columns">
        <div class="row" style='margin: 32px 0;'>
            <div class="large-12 columns text-center">
                <img src="app/img/img-character01.png" class="animated bounceIn" />
                <span class="animated fadeInUp"
                    style="-webkit-animation-delay: 1s; font-size: xx-large;">な</span
                ><span class="animated fadeInUp"
                    style="-webkit-animation-delay: 1.1s; font-size: xx-large;">み</span
                ><span class="animated fadeInUp"
                    style="-webkit-animation-delay: 1.2s; font-size: xx-large;">え</span
                ><span class="animated fadeInUp"
                    style="-webkit-animation-delay: 1.3s; font-size: xx-large;">新</span
                ><span class="animated fadeInUp"
                    style="-webkit-animation-delay: 1.4s; font-size: xx-large;">聞</span
                ><span class="animated fadeInUp"
                    style="-webkit-animation-delay: 1.5s; font-size: xx-large;">ラ</span
                ><span class="animated fadeInUp"
                    style="-webkit-animation-delay: 1.6s; font-size: xx-large;">イ</span
                ><span class="animated fadeInUp"
                    style="-webkit-animation-delay: 1.7s; font-size: xx-large;">タ</span
                ><span class="animated fadeInUp"
                    style="-webkit-animation-delay: 1.8s; font-size: xx-large;">ー</span>
            </div>
        </div>
        
        <div class="row">
            <div class="large-6 large-offset-3 columns">
                ユーザーID:<input id="loginId" type="text"
                    placeholder="loginID" value="">
                パスワード:<input id="password" type="password"
                    placeholder="password" value="">
                <button id="loginButton" class='button'  style="width: 100%; padding: 16px 0;">ログイン</button>
            </div>
        </div>
    </div>
</div>