<?xml version='1.0' encoding='utf-8'?>
<widget id="jp.fukushima.namie.town.news" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>なみえ新聞</name>
    <description>
        浪江町タブレットアプリケーション
    </description>
    <author email="" href="http://www.town.namie.fukushima.jp/">
        福島県 波江町役場
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
