/**
 *  浪江町アプリ管理ツールCSS
 */
/**
 *  ----------
 *  1. Base
 *  ----------
 */
.page-ope {
    
}

/**
 *  ----------
 *  2. Project
 *  ----------
 */
.page-ope .contents__primary {
    position: relative;
    overflow: auto;
    padding: 0px;
}
.page-ope .panel {
    margin-bottom: 0px;
}

.character__image {
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.slideshow-add-file {
    font-size: 1.2rem;
}

.radiatioin-filename-area label {
    font-size: 1.2rem;
}

#radiationListHead th {
    text-align: center;
}

td a.letter-title {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 10.1em;
    white-space: nowrap;
    display: inline-block;
}

td a.letter-title br {
    display: none;
}