/**
 *  放射線アプリCSS
 */
/**
 *  ----------
 *  1. Base
 *  ----------
 */
.page-rad {
    background-color: #fbfaf4;
}

.page-rad .header {
    display: block;
    background-image: none;
    height: auto;
}

.page-rad .header .top-bar {
/*
    background: url(../../app/img/img-rad-header-bg.png);
    background-size: contain;
*/
    height: 55px;
}

.page-rad .header .top-bar .title-area {
    float: none;
}

.page-rad .top-bar .name h1 {
/*
    background-image: url("../../app/img/img-rad-title-logo.png");
    background-repeat: no-repeat;
    background-position: center;    line-height: 55px;
*/
    text-align: center;
    font-size: 1.5rem;
    padding-top: 4px;
}

.page-rad .top-bar .name h1 a {
/*
    text-indent: -9999px;
*/
}

.page-rad .global-nav {
    display: none;
}

.page-rad .button {
    display: inline-block;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e3e0d5));
    border-radius: 50px;
    /*color: #650505;*/
    /*font-size: 1.3rem;*/
    margin: 0 20px 10px 0;
    padding: 1.2rem 1.2rem;
    line-height: 1;
    box-shadow: 0 3px 8px #666;
}

/**
 *  ----------
 *  2. Project
 *  ----------
 */
.page-rad .contents__primary {
    padding: 0;
}

.page-rad #map-container {
    height: 100%;
    padding-bottom: 50px;
}

.page-rad #map-container > div {
    height: 100%;
}

.page-rad #map {
    height: 100%;
}

.page-rad .map-legend {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
}

.page-rad .map-legend-list {
    display: table;
    height: 100%;
    margin: 0 auto;
}

.page-rad .map-legend-list li {
    display: table-cell;
    padding: 0 5px;
    line-height: 1rem;
    text-align: center;
    vertical-align: middle;
}

.page-rad .map-legend-symbol {
    width: 70px;
    height: 12px;
    
}

.page-rad .map-legend-label {
    font-size: 0.8rem;
}

.page-rad .contents__secondary {
    padding-top: 15px;
}
.page-rad .contents__secondary .sidemenu {
    text-align: center;
}


.page-rad .rad-cluster-item {
    padding: 8px;
}

/**
 *  吹き出し
 */
.page-rad .rad-popup {
    width: 300px;
}

.page-rad .rad-popup__header {
    margin: 0 0 16px;
}

.page-rad .rad-popup__date {
    font-size: 18px;
}

.page-rad .rad-popup__average-value {
    color: inherit;
    margin: 8px 0;
    line-height: 1;
}

.page-rad .rad-popup__max-value {
    margin: 0;
    line-height: 1;
}

.page-rad .rad-popup__info {
    margin: 8px 0;
    font-size: 0.8rem;
}

.page-rad .rad-popup__info > ul {
    margin: 16px 8px 16px 32px;
    font-size: 0.8rem;
}

.page-rad .rad-info-list {
    margin: 0;
    padding: 0;
}

.page-rad .rad-log-list {
    margin: 0;
    padding: 8px;
    width: 100%;
    max-height: 150px;
    list-style: none;
    overflow: auto;
    border: 1px solid #ccc;
}

.page-rad .rad-log-list > li {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 2px 0 rgba(0,0,0,0.16);
    margin-bottom: 8px;
    padding: 8px;
}

/**
 *  ----------
 *  3. Cosmetic
 *  ----------
 */
.page-rad .map-marker--1 {
    background-color: #0b24e5;
    fill: #0b24e5;
}
.page-rad .map-marker--2 {
    background-color: #357ce7;
    fill: #357ce7;
}
.page-rad .map-marker--3 {
    background-color: #25bfe9;
    fill:#25bfe9;
}
.page-rad .map-marker--4 {
    background-color: #18d381;
    fill: #18d381;
}
.page-rad .map-marker--5 {
    background-color: #16b23a;
    fill: #16b23a;
}
.page-rad .map-marker--6 {
    background-color: #a5cd05;
    fill: #a5cd05;
}
.page-rad .map-marker--7 {
    background-color: #ebc323;
    fill: #ebc323;
}
.page-rad .map-marker--8 {
    background-color: #ec881c;
    fill: #ec881c;
}
.page-rad .map-marker--9 {
    background-color: #ff0a21;
    fill: #ff0a21;
}

 /**
 *  モーダル線量リストダイアログ
 */
.modal-radiation-overlay {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.modal-radiation {
    bottom: 0;
    height: 80%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
}

.modal-radiation {
    background: rgb(222, 234, 243);
    text-align: center;
    padding: 15px 0;
    color: rgb(8, 76, 129);
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-radiation .radiationList {
    height: 420px;
    overflow: scroll;
}

.modal-radiation .radiationListItem label.radiationItemFileName {
    font-size: 1.2rem;
}
.modal-radiation .radiationListItem label.radiationItemFileLastModified {
    font-size: 1rem;
}

.modal-radiation .radiationList {
        padding: 15px 0;
}
