/**
 *  グリッド表示
 */
.contents__top {
    height: 100%;
    overflow: auto;
    float: none;
    padding: 20px 0 0 0;
}

.news-detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fbfaf4;
    padding-top: 10px;
    overflow: auto;
}

.grid-list {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    list-style: none;
    margin-left: 0;
}

.grid-list>div {
    box-sizing: border-box;
    margin: 20px;
    flex: 1 1 45%;
    border: 3px solid #e8e8d0;
    background: white;
    position: relative;
    max-width: 45%;
}

.grid-list__item {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 15px;
}

/**
 *  グリッドのアイテム内部
 */
.grid-cell--image {
    display: table-cell;
    float: none !important;
    vertical-align: middle;
    text-align: center;
    padding: 0 10px;
}

.grid-cell--body {
    display: table-cell;
    float: none !important;
    position: static;
    padding: 0 10px;
}

.is-no-image .grid-cell--image {
    display: none;
}

/**
 *  グリッドのラベル
 */
.grid-label {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 1.5rem;
    padding-left: 2.2rem;
    margin-bottom: 10px;
}

.grid-label--blog {
    color: #c96088;
    background-image: url(../../app/img/img-grid-label-blog.png);
}
.grid-label--localnews {
    color: #61b152;
    background-image: url(../../app/img/img-grid-label-localnews.png);
}
.grid-label--event {
    color: #d9bc08;
    background-image: url(../../app/img/img-grid-label-event.png);
}
.grid-label--townoffice {
    color: #27a8bd;
    background-image: url(../../app/img/img-grid-label-townoffice.png);
}
.grid-label--article {
    color: #09406c;
    background-image: url(../../app/img/img-grid-label-article.png);
}
.grid-label__text {
}

/**
 *  グリッドの説明文章
 */
.grid-description {
    padding-bottom: 60px;
}

.grid-description__title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.grid-description__description {
}

/**
 *  グリッドのボタン
 */
.grid-button {
    text-align: right;
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.grid-button .button {
    margin-bottom: 0;
}