/**
 *  グリッド表示
 */
.contents__top {
    height: 100%;
    overflow: auto;
    float: none;
}

.news-detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fbfaf4;
}

.grid-list {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    list-style: none;
}

.grid-list>div {
    box-sizing: border-box;
    margin: 15px;
    flex: 1 1 45%;
    border: 3px solid #e8e8d0;
    background: white;
}

.grid-list__item {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}