/**
 *  グリッド表示
 */
.contents__top {
    height: 100%;
    overflow: auto;
    float: none;
    padding: 20px 0 0 0;
}

.news-detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.grid-list {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    list-style: none;
    margin-left: 0;
}

.grid-list>div {
    box-sizing: border-box;
    margin: 20px;
    flex: 1 1 45%;
    border: 3px solid #e8e8d0;
    background: white;
    position: relative;
    max-width: 45%;
}

.grid-list__item {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 15px;
}
.grid-list__item>.row {
    display: table;
}

/**
 *  グリッドのアイテム内部
 */
.grid-cell--image {
    display: table-cell;
    float: none !important;
    vertical-align: middle;
    text-align: center;
    padding: 0 10px;
}

.grid-cell--image .articleImage {
    min-width: 100%;
}

.grid-cell--image .articleImage[src=""],
.grid-cell--image .articleImage:not([src]) {
    height: 200px;
    width: 200px;
    background: #e8e8d0;
    outline: 1px solid #e8e8d0;
    outline-offset: -1px;
}

.grid-cell--body {
    display: table-cell;
    float: none !important;
    position: static;
    padding: 0 10px;
    width: 100%;
}

.is-no-image .grid-cell--image {
    display: none;
}

/**
 *  グリッドの説明文章
 */
.grid-description {
    padding-bottom: 60px;
}

.grid-description__title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.grid-description__description {
}

/**
 *  グリッドのボタン
 */
.grid-button {
    text-align: right;
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.grid-button .button {
    margin-bottom: 0;
}

/**
 *  記事詳細
 */
.news-detail .post {
    margin: 27px;
    padding: 0;
    background: white;
    border: 3px solid #e8e8d0;
}

.news-detail .post__body {
    padding: 0 100px;
    font-size: 1.3rem;
    line-height: 2.3rem;
}

.news-detail .post__body > .row{
    max-width: none;
}

.news-detail .post-header__site {
    background: none;
    height: auto;
    margin: 0 -100px;
    color: #fff;
}

.news-detail .post-header__site::before,
.news-detail .post-header__site::after {
    display: none;
}

.news-detail .post--blog .post-header__site {
    background-color: #c66287;
}
.news-detail .post--localnews .post-header__site {
    background-color: #73c563;
}
.news-detail .post--event .post-header__site {
    background-color: #d9bc08;
}
.news-detail .post--townoffice .post-header__site {
    background-color: #27a8bd;
}
.news-detail .post--other .post-header__site {
    background-color: #9c9c9c;
}

.news-detail .post-label {
    background: none;
    padding: 0 0 0 100px;
}

.news-detail .post-label .article-label {
    background-repeat: no-repeat;
    background-size: auto 65%;
    color: #fff;
    font-size: 1.3rem;
    line-height: 60px;
    margin-bottom: 0;
    padding-left: 3rem;
}
.news-detail .post--blog .article-label {
    background-image: url(../../app/img/img-article-header-blog.png);
}
.news-detail .post--localnews .article-label {
    background-image: url(../../app/img/img-article-header-localnews.png);
}
.news-detail .post--event .article-label {
    background-image: url(../../app/img/img-article-header-event.png);
}
.news-detail .post--townoffice .article-label {
    background-image: url(../../app/img/img-article-header-townoffice.png);
}
.news-detail .post--other .article-label {
    background-image: url(../../app/img/img-article-header-other.png);
}

.news-detail .post-recommend {
    margin-right: 100px;
    line-height: 60px;
}
.news-detail .post-recommend__amount  {
    padding: 8px 10px;
    display: inline;
}

.news-detail .post-header__title {
    font-size: 1.9rem;
    margin: 50px 0;
}

.news-detail .post__body h1 {
    color: #955b08;
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 2rem;
}
.news-detail .post__body h2 {
    color: #955b08;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
}
.news-detail .post__body h3 {
    color: #955b08;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 2rem;
}
.news-detail .post__body h4 {
    color: inherit;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 1rem;
}

.news-detail .post__body p {
    font-size: 1.3rem;
    line-height: 2.3rem;
}

.news-detail .post__body table {
    border: none;
    width: 100%;
}
.news-detail .post__body table tr th,
.news-detail .post__body table tr td {
    color: inherit;
    font-size: 1.3rem;
    line-height: 2.3rem;
    padding: 27px;
}
.news-detail .post__body table tr:nth-child(odd) th {
    background: #cac4a2;
}
.news-detail .post__body table tr:nth-child(even) th {
    background: #d5d0b3;
}
.news-detail .post__body table tr:nth-child(odd) td {
    background: #f2f0e6;
}
.news-detail .post__body table tr:nth-child(even) td {
    background: #f9f8f2;
}

.news-detail .post__body ul, ol, dl {
    font-size: 1.3rem;
}

/* イベント用補正 */
.news-detail .post__body .eventTitle {
    font-size: 1.9rem;
    font-weight: bold;
    margin: 27px 0;
}
.news-detail .post__body table.eventDetail {
    border-collapse: collapse;
}
.news-detail .post__body table.eventDetail tr th {
    background: #f2f0e2;
    border-top: 2px solid #dbd7ba;
}
.news-detail .post__body table.eventDetail tr th:first-child {
    white-space: nowrap;
}
.news-detail .post__body table.eventDetail tr td {
    background: #fff;
    border-top: 2px solid #dbd7ba;
}

/* YouTube用補正 */
.news-detail .post__body .post-header__title--youtube {
    margin: 50px 0 0px;
}

/**
 *  縦画面用の補正
 */

@media screen and (max-width: 800px) {
    .news-detail .post__body {
        padding: 0 27px;
    }
    .news-detail .post-header__site {
        margin: 0 -27px;
    }
    .news-detail .post-label {
        padding: 0 0 0 27px;
    }
    .news-detail .post-recommend {
        margin-right: 27px;
    }
}
