/**
 *  variables
 *
 *  $blue = #156bbb;
 *  $gray = #d5d5d5;
 *  $black = #2c2c2c;
 */

/**
 *  general
 */
html,
body {
    height: 100%;
}

html {
    /* 文字サイズ中 */
    font-size: 20px;
}

/**
 *  foundation overrides
 */
.button {
  background-color: rgb(213, 213, 213) !important;
  box-shadow: inset 0 2px 2px 0 rgba(255,255,255,0.7),
              inset 0 -4px 2px 0 rgba(0,0,0,0.2),
              inset -3px 0 2px 0 rgba(0,0,0,0.1),
              inset 3px 0 2px 0 rgba(0,0,0,0.1),
              inset 0 1px 1px 0 rgba(0,0,0,0.5);
  border-radius: 3px;
  color: #156bbb !important;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px rgba(255,255,255, 0.8);
}

/**
 *  foundation helpers
 */
.row.is-full {
    max-width: none;
}

/**
 *  layout
 */
.header,
.footer {
    position: relative;
    z-index: 10;
}

main {
    height: 100%;
}

.menu {
    width: 266px;
}

.contents-wrapper {
    height: 100%;
    position: absolute;
    top: 0;
    padding: 114px 10px 0;
    width: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-top: 16px;
    border-top: 1px solid #eee;
}

/**
 *  snap
 */
.snap-content {
    box-shadow: 0 -1px 1px 0 rgba(0,0,0,0.16);
    background: #c1c1c1;
}
.posting-content {
    box-shadow: 0 -1px 1px 0 rgba(0,0,0,0.16);
    background: #ffffff;
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 10px 0;
}

.background::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #f00;
    display: block;
    background: url(../img/bg-newspaper.jpg);
}

/**
 *  header
 */
.header {
    margin: 10px 10px 0;
}

.header nav {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}
.eventHeader nav {
    height: 100%;
    line-height: 20px;
    overflow: hidden;
}

.header nav h1 {
    margin: 0;
}

.header .button.small {
    height: 28px;
    line-height: 28px;
    padding-top: 0;
    padding-bottom: 0;
}

/**
 *  編集部の一言
 */
.header__comment {
    font-family: serif;
    font-size: 16px;
}

.header__comment p {
    height: 30px;
    line-height: 30px;
    margin: 0;
    font-size: 0.8rem;
}

/**
 *  global-nav
 */
.global-nav {
    height: 84px;
    position: relative;
    z-index: 10;
    margin: 0 10px 10px;
    padding: 8px 10px;
}

.global-nav nav {
    padding: 0 10px;
    border-left: 2px solid #2c2c2c;
    border-right: 2px solid #2c2c2c;
}

/**
 *  global-navの子要素
 */
[class^=global-nav__] {
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    height: 72px;
    line-height: 72px;
    vertical-align: middle;
    float: left;
}

.global-nav nav section::after {
    content: '';
    display: block;
    clear: both;
}

.global-nav .button {
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    margin: 0;
}

/**
 *  global-navの子要素の共通の中身
 */
.nav-content {
    height: 100%;
    padding: 6px 0;
}

.nav-content::after {
    content: '';
    display: block;
    clear: both;
}

/**
 *  global-nav__menu
 *  メニューボタンのエリア
 */
.global-nav__menu {
    width: 12.5%;
    border-top: 2px solid #2c2c2c;
    border-bottom: 2px solid #2c2c2c;
}
.posting__global-nav__menu {
    width: 100%;
    border-top: 2px solid #2c2c2c;
    border-bottom: 2px solid #2c2c2c;
}

/**
 *  global-nav__info
 *  情報のエリア
 */
.global-nav__info {
    width: 16.0%;
    border-top: 2px solid #2c2c2c;
    border-bottom: 2px solid #2c2c2c;
}

.info__label {
    display: inline-block;
    width: 20px;
    height: 100%;
    text-align: center;
    background-color: #156bbb;
    color: white;
    font-family: serif;
    float: left;
    font-size: 12px;
    line-height: 1;
}

.info__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    margin: auto 0;
    padding: 0 5px 0 25px;
    font-family: serif;
    font-size: 14px;
}

.info__content {
}

/**
 *  global-nav__date
 *  日付のエリア
 */
.global-nav__date {
    width: 16.5%;
    border-top: 2px solid #2c2c2c;
    border-bottom: 2px solid #2c2c2c;
    font-family: serif;
}

.global-nav__date::before {
    content: '';
    position: absolute;
    top: 6px;
    height: 60px;
    width: 2px;
    background-color: #2c2c2c;
}

.date-area {
    line-height: 1;
}

.date-area__year {
    font-size: 20px;
}

.date-area__date {
    float: left;
}

.date-area__date::after {
    content: '';
    display: block;
    clear: both;
}

.date--month {
    font-size: 30px;
    float: left;
}

.date--day {
    font-size: 30px;
    float: left;
}

.date--unit {
    font-size: 24px;
    float: left;
}

.date-area__weekday {
    font-size: 22px;
    padding: 5px;
    border: 1px solid #444;
    float: left;
}

/**
 *  global-nav__title
 *  タイトルのエリア
 */
.global-nav__title {
    width: 9.9%;
    background: #1a79d2;
    font-size: 0.5rem;
    text-align: center;
}

.title__main {
    font-size: 48px;
    margin: 0;
}

.title__sub {
    font-size: 24px;
    margin: 0;
}

/**
 *  global-nav__weather
 *  天気のエリア
 */
.global-nav__weather {
    width: 33.9%;
    border-top: 2px solid #2c2c2c;
    border-bottom: 2px solid #2c2c2c;
}

.global-nav__weather .nav-content {
    padding-left: 10px;
}

.weather__label {
    display: inline-block;
    width: 20px;
    height: 100%;
    text-align: center;
    background-color: #e39815;
    color: white;
    font-family: serif;
    float: left;
    font-size: 12px;
    line-height: 1;
}

.weather__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    margin: auto 0;
    padding: 0 5px 0 35px;
    font-family: serif;
    font-size: 14px;
}

.weather__table {
    background: none;
    margin: 0;
    border: none;
}

.weather__table thead tr td {
    font-size: 0.7rem;
    padding: 2px;
    line-height: 1;
    background-color: #cecece;
    text-align: center;
}

.weather__table tbody tr td {
    font-size: 0.7rem;
    padding: 2px;
    line-height: 1;
    text-align: center;
}

/**
 *  global-nav__font
 *  フォントサイズ指定
 */
.global-nav__font {
    width: 11.2%;
    border-top: 2px solid #2c2c2c;
    border-bottom: 2px solid #2c2c2c;
}

.global-nav__font ul {
    list-style: none;
    margin: 0;
    display: inline-block;
}

.global-nav__font ul li {
    display: inline-block;
    vertical-align: middle;
}

.global-nav__font .button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0;
}

/**
 *  menu
 */
.menu {
}

.menu__list {
    margin: 0;
}

/**
 *  contents
 */
.contents-wrapper {
}

.contents {
    height: 100%;
    padding: 0 10px;
}

.contents > div {
    height: 100%;
    overflow: hidden;
    padding: 0 10px;
    border-left: 2px solid #2c2c2c;
    border-right: 2px solid #2c2c2c;
}

.contents__primary,
.contents__secondary {
    position: relative;
    height: 100%;
}

.contents__primary {
    position: relative;
    overflow: auto;
    padding: 0 0 0 16px;
}

.background-sign-container {
    position: absolute;
    width: 100%;
    height: 100px;
}

.background-sign-container .row {
    max-width: none;
}

.background-sign-container .columns {
    padding: 0;
}

.background-sign-container--up {
    top: 90px;
}

.background-sign-container--down {
    bottom: 0px;
}

.background-sign {
}

.iscroll-container {
}
    .iscroll-container > div {
    }

.contents__secondary {
    padding: 10px 10px 10px 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow: auto;
    background: #f2f2f2;
    border-right: 2px solid #2c2c2c;
}

.contents__secondary > div {
    position: relative;
}

/**
 *  sidebar
 */
.sidebar {
}

.sidebar__header {
    background: #333;
    color: white;
    text-shadow: -2px 0 0 #2c2c2c,
                 0 -2px 0 #2c2c2c,
                 2px 0 0 #2c2c2c,
                 0 2px 0 #2c2c2c,
                 -2px -2px 0 #2c2c2c,
                 2px -2px 0 #2c2c2c,
                 -2px 2px 0 #2c2c2c,
                 2px 2px 0 #2c2c2c;
    padding: 8px;

    -webkit-background-size: 4px 4px;
    -moz-background-size: 4px 4px;
    background-size: 4px 4px;
    background-color: #ddd;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0,
                color-stop(.25, #444), color-stop(.25, transparent),
                            color-stop(.5, transparent), color-stop(.5, #444),
                                        color-stop(.75, #444), color-stop(.75, transparent),
                                                    to(transparent));
    background-image: -webkit-linear-gradient(45deg, #444 25%, transparent 25%,
              transparent 50%, #444 50%, #444 75%,
                        transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, #444 25%, transparent 25%,
              transparent 50%, #444 50%, #444 75%,
                        transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, #444 25%, transparent 25%,
              transparent 50%, #444 50%, #444 75%,
                        transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, #444 25%, transparent 25%,
              transparent 50%, #444 50%, #444 75%,
                        transparent 75%, transparent);
    background-image: linear-gradient(45deg, #444 25%, transparent 25%,
              transparent 50%, #444 50%, #444 75%,
                        transparent 75%, transparent);
}

.sidebar__list {
    list-style: none;
    margin: 0;
    height: 100%;
    overflow: auto;
}

/**
 *  side-action
 */
.side-action {
    width: 100%;
    z-index: 2;
    border: 4px solid #156bbb;
}

.side-action__content {
    list-style: none;
    margin: 0;
    width: 100%;
}

.side-action__header {
    margin: 8px;
    border-bottom: 3px solid #444;
}

.side-action__label {
    background-color: #156bbb;
    color: white;
    float: left;
    padding: 0 5px;
    margin-right: 15px;
    font-size: 0.9rem;
    font-family: serif;
}

.side-action__description {
    font-size: 0.9rem;
    font-weight: bold;
}

.side-action__body {
    padding: 8px 16px;
}

.side-action__image {
    text-align: center;
}

.side-action__image img {
    max-width: 100%;
}

/**
 *  feed list
 */
.feed-list {
    margin: 0;
}

.feed-item {
    margin: 4px;
    padding: 16px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
}

.feed-item:active {
    background: rgba(120,200,255,0.16);
}

.feed-item__label {
    display: inline-block;
    background: #333;
    color: white;
    padding: 0 16px;
    border-radius: 2px;
    font-size: 16px;
    margin-bottom: 8px;
}

.feed-item__body {
    padding: 8px 0;
}

.feed-item__body::after {
    content: '';
    display: block;
    clear: both;
}

.feed-item__thumbnail {
    margin: 0 0 0 8px;
}

/**
 *  post
 */
.post {
    margin: 8px;
    padding: 16px;
}

.post__body {
    margin: 16px;
}

.post__footer {
    border-top: 1px solid #eee;
    margin: 16px;
    padding: 16px;
}

.tagInputArea {
    /* 会議用に一時的に隠す */
    display: none;
}

/**
 *  post-header
 */
.post-header {
    margin: 16px 0 16px;
}

.post-header__site {
    font-size: 1rem;
}

.post-header__title {
    font-size: 2rem;
}

.post-label {
    display: inline-block;
    background: #333;
    color: white;
    padding: 0 16px;
    border-radius: 2px;
    font-size: 1rem;
    margin-bottom: 8px;
}

/**
 *  post-main
 */
.post-main {
    
}

.post-main__image {
    margin: 0;
    line-height: 0;
    text-align: left;
}
    .post-main__image img[src] {
        max-width: 100%;
        margin-bottom: 32px;
    }

.post-main__description {
    margin: 0 0 32px;
}

/**
 *  post-action
 */
.post-action {
    text-align: center;
}

/**
 *
 */
#eventsPage, #newsPage {
    color: #666666;
}

.eventColumnsTitle {
    font-weight: bold;
    font-size: 16px;
}

.article-list,.article-favorite-list {
    margin: 0;
    overflow: hidden;
    list-style: none;
    min-height: 750px;
    opacity: 0;
    -webkit-transition: .4s ease opacity;
    transition: .4s ease opacity;
}
    .article-list.is-ready,.article-favorite-list.is-ready {
        opacity: 1;
    }

#articleList:first-child {
}

.articleListItem {
    border-bottom: solid 1px #666666;
}
.articleListItem p {
    margin-bottom: 3px;
}

.eventsListItem {
    border-bottom: solid 1px #666666;
}

.eventsListItem p {
    margin-bottom: 3px;
}

.article-detail {
    border: solid 1px #666666;
    min-height : 600px;
}
div.nehan-block.nehan-body {
    border-bottom: solid 1px #aaaaaa;
    margin-bottom: 7px;
}
div.nehan-block.nehan-body:last-child {
    border-bottom: solid 0px;
    margin-bottom: 0px;
}

.articleLink {
    font-size: small;
    word-break: break-all;
}
.tagColumnsLabel {
    padding-top: 7px;
}
.tagButtons {
    display: inline-block;
}
.tagButtons button.deleteTag {
    margin-left: 8px;
    margin-bottom: 8px;
}

.tagList div button.deleteTag {
    margin-bottom: 0.1rem;
}
.tagList div:not(:last-child) {
    float: left;
}

/**
 *  Events Detail
 */
.events-detail {
    
}

.events-detail__image {
    border: 1px solid #eee;
    text-align: center;
}

.events-detail__image img {
    height: 400px;
}

.events-detail__info {
    padding: 16px;
}

.events-detail__info .columns {
    /* -webkit-writing-mode: vertical-rl;
    -webkit-column-width: 400px;
    -webkit-column-gap: 10px;
    -webkit-column-rule: 1px solid #333;
    -webkit-text-orientation: upright; */
    vertical-align: middle;
}

.events-detail__info .events-name {
    font-size: 40px;
    color: inherit;
}

.events-detail__info h3 {
    margin: 0;
    font-size: 32px;
    color: #666;
}

.events-detail__info p {
    line-height: 1.6;
    font-size: 32px;
    text-indent: 1em;
}

.nehan-body {
    border-bottom: 1px solid #eee;
    margin-bottom: 16px;
}
/**
 * Feed
 **/
.feedListItem {
}
.feedListItem p{
	margin-bottom: 0.20rem;
}

/**
 * Posting
 */
.eventColumnsHeader {
    border: 1px solid #000;
    border-radius: 2px;
    margin: 20px 0;
    padding: 5px 20px;
}
.eventStatus {
    background: #333;
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 8px;
    padding: 0 16px;
}
.eventTitle {
    font-size: 32px;
}
.eventFile {
    margin-bottom: 20px;
}
.eventFileImage {
    margin-bottom: 5px;
}