/**
 *  放射線アプリCSS
 */
/**
 *  ----------
 *  1. Base
 *  ----------
 */
.page-rad {
    background-color: #fbfaf4;
}

.page-rad .header {
    display: block;
    background-image: none;
    height: auto;
}

.page-rad .header .top-bar {
/*
    background: url(../../app/img/img-rad-header-bg.png);
    background-size: contain;
*/
    height: 55px;
}

.page-rad .header .top-bar .title-area {
    float: none;
}

.page-rad .top-bar .name h1 {
/*
    background-image: url("../../app/img/img-rad-title-logo.png");
    background-repeat: no-repeat;
    background-position: center;    line-height: 55px;
*/
    text-align: center;
    font-size: 1.5rem;
    padding-top: 4px;
}

.page-rad .top-bar .name h1 a {
/*
    text-indent: -9999px;
*/
}

.page-rad .global-nav {
    display: none;
}

.page-rad .button {
    display: inline-block;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e3e0d5));
    border-radius: 50px;
    /*color: #650505;*/
    /*font-size: 1.3rem;*/
    margin: 0 20px 10px 0;
    padding: 1.2rem 1.2rem;
    line-height: 1;
    box-shadow: 0 3px 8px #666;
}

/**
 *  ----------
 *  2. Project
 *  ----------
 */
.page-rad #map-container {
    height: 100%;
}

.page-rad #map-container > div {
    height: 100%;
}
.page-rad #map {
    height: 100%;
}

.page-rad .contents__primary {
    padding: 0;
}

.page-rad .contents__secondary {
    padding-top: 15px;
}
.page-rad .contents__secondary .sidemenu {
    text-align: center;
}

/**
 *  ----------
 *  3. Cosmetic
 *  ----------
 */