/**
 *  variables
 *
 *  $blue = #156bbb;
 *  $gray = #d5d5d5;
 *  $black = #2c2c2c;
 */

/**
 *  general
 */
html,
body {
    height: 100%;
}

html {
    /* 文字サイズ中 */
    font-size: 20px;
}

body {
    color: #5a5738;
}

/**
 *  foundation overrides
 */
.button {
    background-color:  #ffffff;
    background: -webkit-linear-gradient(90deg, #c0baa1 0%, #ffffff 100%);
    background: -moz-linear-gradient(90deg, #c0baa1 0%, #ffffff 100%);
    background: -o-linear-gradient(90deg, #c0baa1 0%, #ffffff 100%);
    background: -ms-linear-gradient(90deg, #c0baa1 0%, #ffffff 100%);
    background: linear-gradient(0deg, #c0baa1 0%, #ffffff 100%);
    -webkit-box-shadow: 0px 3px 3px 0.00px rgba(0, 64, 93, 0.3);
    -moz-box-shadow: 0px 3px 3px 0.00px rgba(0, 64, 93, 0.3);
    box-shadow: 0px 2px 2px 0.00px rgba(0, 64, 93, 0.3);
    color: rgb(5, 59, 101);
    font-size: 20px;
    padding: 5px 25px 5px 25px;
    text-decoration: none;
}
.button:focus,
.button:hover {
    background-color:  #ffffff;
    color: rgb(5, 59, 101);
}

.button--gray {
    background: rgb(145, 145, 145);
    box-shadow: 0 3px 0 rgb(90, 86, 61);
}

.button--gray:hover,
.button--gray:focus {
    background: rgb(145, 145, 145);
    box-shadow: 0 3px 0 rgb(90, 86, 61);
}

.button--float {
    background: white;
    width: 38px;
    height: 38px;
    padding: 0;
    border-radius: 50%;
    color: rgb(8, 76, 129);
    line-height: 38px;
    font-size: 25px;
    box-shadow: 0px 2px 1px 0px #a4a4a4;
    position: absolute;
    top: -19px;
    right: -19px;
    text-align: center;
}

.button--float::after {
    content: "閉じる";
    position: absolute;
    top: 0;
    left: 100%;
    color: white;
    white-space: nowrap;
    margin-left: 10px;
    font-size: 1rem;
}

@media only screen and (orientation:portrait) {
    .button--float::after {
        display: none;
    }
}

hr {
    border-color: #ebe8da;
    border-width: 1px 0;;
}

/**
 *  foundation helpers
 */
.row.is-full {
    max-width: none;
}

/**
 *  layout
 */
.header,
.footer {
    position: relative;
    z-index: 20;
}

main {
    height: 100%;
}

.menu {
    width: 266px;
    padding-left: 10px;
}

.menu h3 {
    color: white;
}

.contents-wrapper {
    height: 100%;
    position: absolute;
    top: 0;
    padding: 54px 0px 0;
    width: 100%;
}

.is-backnumber-date .contents-wrapper,
.is-top .contents-wrapper {
    position: relative;
    padding: 0;
}

.is-backnumber .contents-wrapper,
.is-article .contents-wrapper {
    position: relative;
    padding: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-top: 16px;
    border-top: 1px solid #eee;
}

/**
 *  snap
 */
.snap-drawers {
    background: #14434a;
}

.snap-content {
    box-shadow: 0 -1px 1px 0 rgba(0,0,0,0.16);
    background-color: rgb(29, 124, 189);
    background-image: url(../../app/img/bg-b-paper.jpg);
}

.has-modal .snap-content {
    overflow: hidden;
}

.posting-content {
    box-shadow: 0 -1px 1px 0 rgba(0,0,0,0.16);
    background: #ffffff;
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
}

/**
 *  header
 */
.header {
    display: none;
    background-image: url(../../app/img/img-header-main.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 150px;
}

.header nav {
}

.opeHeader nav {
    height: 100%;
    line-height: 20px;
    overflow: hidden;
}
.date-picker .header {
    display: block;
}

.eventHeader nav {
    height: 100%;
    line-height: 20px;
    overflow: hidden;
}

.header nav h1 {
    margin: 0;
}

.header .button.small {
    height: 28px;
    line-height: 28px;
    padding-top: 0;
    padding-bottom: 0;
}

/**
 *  俳句
 */
.header-haiku {
    color: #3c828d;
    position: relative;
    top: 20px;
    left: 20px;
    width: 50%;
}

.header-haiku__heading {
    display: inline-block;
    font-size: 20px;
    padding: 0 16px;
    background: white;
    border-radius: 30px;
    height: 34px;
    line-height: 34px;
    vertical-align: top;
}

.header-haiku__text {
    display: inline-block;
    font-size: 22px;
    padding: 0 16px;
    background: white;
    border-radius: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 28px;
    left: 40px;
}

/**
 *  header-weather
 */
.header-weather--local,
.header-weather--namie {
    position: absolute;
    height: 50px;
    line-height: 50px;
    color: #485a5d;
    font-size: 0;
}

.header-weather--local {
    top: 40px;
    right: 220px;
}

.header-weather--namie {
    top: 30px;
    right: 70px;
}

.header-weather__name {
    height: 100%;
    background-color: white;
    padding: 0 4px 0 16px;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 25px 0 0 25px;
}

.header-weather__state {
    height: 100%;
    background-color: white;
    font-size: 16px;
    padding: 0 16px 0 4px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 0 25px 25px 0;
}

/**
 *  お天気アイコン
 */
.weather-icon {
    display: inline-block;
}

.weather-icon--mostlycloudy {
    background-image: url(../../app/img/icon-weather-mostlycloudy.png);
    background-size: 100%;
    width: 30px;
    height: 27px;
    vertical-align: middle;
}

/**
 *  ロゴ
 */
.header-logo {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header-logo .header-logo__logo {
    background-image: url(../../app/img/img-title-logo.png);
    background-size: 100%;
    display: inline-block;
    width: 345px;
    height: 109px;
    margin-top: 10px;
}

/**
 *  menu
 */
.menu {
}

.menu__list {
    list-style: none;
    margin: 0;
}

.menu__list .button {
    background: #006d7e;
    background-image: -webkit-linear-gradient(top, #006d7e, #003c46);
    background-image: -moz-linear-gradient(top, #006d7e, #003c46);
    background-image: -ms-linear-gradient(top, #006d7e, #003c46);
    background-image: -o-linear-gradient(top, #006d7e, #003c46);
    background-image: linear-gradient(to bottom, #006d7e, #003c46);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    -webkit-box-shadow: 0px 3px 0px #083137, inset 0 1px 0 0 rgba(255,255,255,0.4);
    -moz-box-shadow: 0px 3px 0px #083137, inset 0 1px 0 0 rgba(255,255,255,0.4);
    box-shadow: 0px 3px 0px #083137, inset 0 1px 0 0 rgba(255,255,255,0.4);
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 15px 20px 15px 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

/**
 *  contents
 */
.contents-wrapper {
}

.contents {
    height: 100%;
    background-color: rgb(29, 124, 189);
    background-image: url(../../app/img/bg-b-paper.jpg);
}

.is-ope .contents {
    background: rgb(248, 247, 242);
}

.is-backnumber-date .contents,
.is-top .contents {
    height: auto;
}

.contents > div {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.is-backnumber-date .contents > div {
    overflow: visible;
}

.is-backnumber .contents > div,
.is-article .contents > div {
    overflow: visible;
}

.contents__primary,
.contents__secondary {
    position: relative;
    height: 100%;
}

.contents__primary {
    position: relative;
    overflow: auto;
    padding: 0 0 0 16px;
}

.background-sign-container {
    position: absolute;
    width: 100%;
    height: 100px;
}

.background-sign-container .row {
    max-width: none;
}

.background-sign-container .columns {
    padding: 0;
}

.background-sign-container--up {
    top: 90px;
}

.background-sign-container--down {
    bottom: 0px;
}

.background-sign {
}

.iscroll-container {
}
    .iscroll-container > div {
    }

.contents__secondary {
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow: auto;
}

.contents__secondary > div {
    position: relative;
    overflow: hidden;
}

/**
 *  sidebar
 */
.sidebar {
    padding: 0 15px 15px;
}

.sidebar__header {
    margin: 15px 0 0 0;
}

.sidebar__list {
    list-style: none;
    margin: 0;
    height: 100%;
    overflow: auto;
}

/**
 *  side-action
 */
.side-action {
    width: 100%;
    z-index: 2;
    padding: 15px 15px 0;
}

.side-action::after {
    content: '';
    display: block;
    background-image: url(../../app/img/img-line.png);
    background-size: 100%;
    height: 3px;
}

.side-action__content {
    list-style: none;
    margin: 0;
    width: 100%;
}

.side-action__header {
    margin: 0 0 15px 0;
}

.side-action__label {
    background-color: #156bbb;
    color: white;
    float: left;
    padding: 0 5px;
    margin-right: 15px;
    font-size: 0.9rem;
}

.side-action__description {
    font-size: 0.9rem;
    font-weight: bold;
}

.side-action__description p {
    margin: 16px 0;
}

.side-action__body {
    padding: 8px 0 0;
}

.side-action__image {
    text-align: center;
}

.side-action__image img {
    max-width: 100%;
}

/**
 *  feed list
 */
.feed-list {
    margin: 0;
}

.feed-item {
    display: table;
    margin: 15px 0;
    padding: 5px;
    background: white;
    border-radius: 4px;
    width: 100%;
}

.feed-item:active {
    background: rgba(120,200,255,0.16);
}

/**
 *  feed-cell
 */
.feed-cell {
    display: inline-table;
    height: 100%;
    vertical-align: middle;
}

.feed-cell--label {
    width: 80px;
}

.feed-cell--body {
    width: 185px;
}

/**
 *  feed-label
 */
.feed-label {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    letter-spacing: -0.1em;
    font-size: 16px;
    min-width: 80px;
}

.feed-label .img {
    display: table;
    width: 80px;
    height: 70px;
    background-size: 100%;
}

.feed-label.feed-label--pink .img {
    background-image: url(../../app/img/img-feed-label-pink.png);
}

.feed-label.feed-label--green .img {
    background-image: url(../../app/img/img-feed-label-green.png);
}

.feed-label.feed-label--pink .img {
    background-image: url(../../app/img/img-feed-label-pink.png);
}

.feed-label__text {
    display: table-cell;
    vertical-align: middle;
    color: white;
    padding: 4px;
    text-align: center;
    letter-spacing: 0;
    font-size: 14px;
}

.feed-item__body {
    display: table-cell;
    vertical-align: middle;
    padding: 0 8px;
    color: #d06a00;
    text-decoration: underline;
}

.feed-item__body::after {
    content: '';
    display: block;
    clear: both;
}

.article-list {
    font-size: 1.3rem;
    line-height: 1.4;
}

/**
 *  post
 */
.post {
    margin: 0 0 8px;
    padding: 0 0 16px 16px;
}

.post__body {
    margin: 0 0 16px;
    line-height: 1.6;
}

.post__body > .row > .columns {
    padding-left: 0;
    padding-right: 0;
}

.post__footer {
    margin: 16px;
    padding: 16px;
}

.tagInputArea {
    /* 会議用に一時的に隠す */
    display: none;
}

/**
 *  post-header
 */
.post-header {
    margin: 0;
}

.post-header__title {
    font-size: 2.3rem;
    font-weight: bold;
    margin: 24px 0;
    line-height: 1.4;
}

.post-label {
    display: block;
    background: #f2eaca;
    padding: 2px 16px 0;
    border-radius: 2px;
    font-size: 1rem;
    margin-bottom: 8px;
}

.post-label::after {
    content: '';
    display: block;
    clear: both;
}

.post-label__site {
    padding: 6px 0;
}

.post-recommend {
}

.post-recommend__amount {
    padding: 2px 10px;
    background: white;
    border-radius: 2px;
    color: #db801d;
    display: inline-block;
    margin: 4px;
}

/**
 *  post-main
 */
.post-main {
    
}

.post-main__image {
    margin: 0;
    line-height: 0;
    text-align: left;
}
    .post-main__image img[src] {
        max-width: 100%;
        margin-bottom: 32px;
    }

.post-main__description {
    margin: 0 0 32px;
}

/**
 *  記事内の要素
 */
.article-detail__image-area {
    margin: 20px 0;
}

.article-detail__image-area--inner {
    display: inline-block;
    background-color: #f2f0e2;
    padding: 65px;
}

.article-detail__image-area--youtube {
    text-align: center;
    margin-top: 0;
}

.article-detail__image-area--youtube .article-detail__image-area--inner {
    padding: 15px;
}

.article-detail__youtube-action {
}

.article-detail__youtube-action .button {
    margin: 0;
    height: 60px;
    border-radius: 30px;
    line-height: 60px;
    padding: 0;
}

.article-detail__image-description {
    text-align: left;
    margin: 40px 0;
}


/**
 *  post-action
 */
.post-action {
    text-align: center;
}

.button--scrap,
.button--recommend {
    width: 257px;
    height: 59px;
    color: #d9791b;
    font-size: 22px;
    text-indent: 30px;
    box-shadow: none;
    text-decoration: underline;
}

.button--recommend {
    background: none;
    background-image: url(../../app/img/img-btn-recommend.png);
    background-size: 100%;
}

.button--scrap {
    background: none;
    background-image: url(../../app/img/img-btn-favorite.png);
    background-size: 100%;
}

/**
 *
 */
#eventsPage, #newsPage {
    color: #666666;
}

.eventColumnsTitle {
    font-weight: bold;
    font-size: 16px;
}

.article-list,.article-favorite-list {
    margin: 0;
    overflow: hidden;
    list-style: none;
    min-height: 750px;
    opacity: 0;
    -webkit-transition: .4s ease opacity;
    transition: .4s ease opacity;
}
    .article-list.is-ready,.article-favorite-list.is-ready {
        opacity: 1;
    }

#articleList:first-child {
}

.articleListItem {
    border-bottom: solid 1px #666666;
}
.articleListItem p {
    margin-bottom: 3px;
}

.eventsListItem {
    border-bottom: solid 1px #666666;
}

.eventsListItem p {
    margin-bottom: 3px;
}

.article-detail {
    border: solid 1px #666666;
    min-height : 600px;
}

#cboxCloseButton {
    position: absolute;
    top:30px;
    right: 30px;
    z-index: 10000;
}

#cboxSaveButton {
    position: absolute;
    top:30px;
    right: 130px;
    z-index: 10000;
}

div.nehan-block.nehan-body {
    border-bottom: solid 1px #aaaaaa;
    margin-bottom: 7px;
}
div.nehan-block.nehan-body:last-child {
    border-bottom: solid 0px;
    margin-bottom: 0px;
}

.articleLink {
    font-size: small;
    word-break: break-all;
}
.tagColumnsLabel {
    padding-top: 7px;
}
.tagButtons {
    display: inline-block;
}
.tagButtons button.deleteTag {
    margin-left: 8px;
    margin-bottom: 8px;
}

.tagListArea {
    display: none;
}

.tagList div button.deleteTag {
    margin-bottom: 0.1rem;
}
.tagList div:not(:last-child) {
    float: left;
}

/**
 *  Events Detail
 */
.events-detail {
    
}

.events-detail__image {
    border: 1px solid #eee;
    text-align: center;
}

.events-detail__image img {
    height: 400px;
}

.events-detail__info {
    padding: 16px;
}

.events-detail__info .columns {
    /* -webkit-writing-mode: vertical-rl;
    -webkit-column-width: 400px;
    -webkit-column-gap: 10px;
    -webkit-column-rule: 1px solid #333;
    -webkit-text-orientation: upright; */
    vertical-align: middle;
}

.events-detail__info .events-name {
    font-size: 40px;
    color: inherit;
}

.events-detail__info h3 {
    margin: 0;
    font-size: 32px;
    color: #666;
}

.events-detail__info p {
    line-height: 1.6;
    font-size: 32px;
    text-indent: 1em;
}

.nehan-body {
    border-bottom: 1px solid #eee;
    margin-bottom: 16px;
}

/**
 *  Letters Detail
 */
.letters-detail {
    background: white;
    margin-bottom: 50px;
    padding: 30px;
}

.letters-detail .eventFile {
    margin: 0;
}

.letter-detail__nickname {
    color: rgb(241, 132, 132);
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: right;
}

.letter-detail__nickname-unit {
    margin: 0 15px;
    font-size: 1.6rem;
}

.letter-detail__description {
    color: rgb(90, 86, 61);
    font-size: 1.7rem;
}

/**
 * Feed
 **/
.feedListItem {
}
.feedListItem p{
	margin-bottom: 0.20rem;
}

/**
 *  Backnumber
 */
.backnumber-scroll-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.is-backnumber-date .backnumber-scroll-container {
    overflow: visible;
}

.is-article .backnumber-scroll-container,
.is-backnumber .backnumber-scroll-container {
    height: auto;
    overflow: visible;
}

.backnumber-nav {
    position: relative;
    z-index: 50;
    height: 70px;
    text-align: center;
    border-top: 2px solid #ebeade;
    padding: 10px 0 10px 5%;
}
.backnumber-nav__section {
    float: left;
}
.backnumber-nav__backtolist {
    width: 20%;
    text-align: left;
}
.backnumber-nav__date {
    width: 60%;
}
.backnumber-nav__empty {
    width: 20%;
    text-align: right;
}

.backnumber-nav__backtolist .button {
    font-size: 20px;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    margin: 0;
}

.backnumber-nav__item {
    display: inline-block;
}

.backnumber-nav__month {
    color: #485a5d;
    margin: 0 20px;
}

.backnumber-nav__month .date-area {
    line-height: 1;
}

.backnumber-nav__prev,
.backnumber-nav__next {
    color: #ec8c2c;
}

.backnumber-main {
    padding-top: 70px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
    .backnumber-main > div {
        height: auto;
        position: relative;
    }

.backnumber-list-container {
    height: 100%;
    overflow: auto;
}

.backnumber-list {
    list-style: none;
    margin: 0;
}

.backnumber-li {
    margin: 15px;
    background-color: #f7f6ef;
    box-shadow: 0 1px 2px 0 #d0cdb3;
    border-radius: 15px;
    overflow: hidden;
    padding: 5px;
}

.backnumber-main .news-detail {
    position: relative;
    height: auto;
}

/**
 *  backnumber-item
 */
.backnumber-item {
    background-color: white;
    border-radius: 10px;
    display: block;
    color: inherit;
}

.backnumber-item.row {
    display: table;
}

.backnumber-item.row .columns {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

.backnumber-item__date {
}

.backnumber-item__date::after {
    content: '';
    display: block;
    position: absolute;
    top: 10%;
    right: 0;
    height: 80%;
    width: 15px;
    background-image: url(../../app/img/img-backnumber-item-border.png);
}

.backnumber-item__date .date-area {
    line-height: 1;
}

.backnumber-item__body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.backnumber-item__body ul {
    list-style: none;
    margin-left: 0;
}

.backnumber-item__body ul > li {
    overflow: hidden;
    white-space: nowrap;
    width: 650px;
    text-overflow: ellipsis;
}

@media only screen and (orientation:portrait) {
    .backnumber-item__body ul > li {
        width: 300px;
    }
}

.backnumber-item__thumbnail {
    padding-top: 20px;
    padding-bottom: 20px;
}

.backnumber-item__thumbnail .articleImage {
    min-width: 100%;
}

/*
 * Posting
 */
.eventDetailHeader {
    margin: 0 -20px;
}

.eventColumnsHeader {
    float: left;
    padding: 0;
    margin: 0 10px 0 0;
    line-height: 2.3rem;
    color: inherit;
    font-size: 1.5rem;
    font-weight: normal;
    clear: both;
}

.eventColumnsHeader::after {
    content: ":";
    display: inline-block;
    margin: 0 8px;
}

.eventColumnsBody {
    margin-bottom: 10px;
}

.event__status {
    padding: 10px 0;
    text-align: center;
}

.event__status .eventStatus {
    background: #e8e8d0;
    border-radius: 2px;
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 8px;
    padding: 16px;
}

.event__publication {
    padding: 15px 0 0;
}

.event__updated {
    padding: 10px 0;
    font-size: 0.8rem;
}

.event__actions {
}

.event__actions button {
    margin: 16px 0;
}

.eventTitle {
    font-size: 2.5rem;
}
.eventFile {
    margin-bottom: 20px;
}
.eventFileImage {
    margin-bottom: 5px;

}
.eventFileImage img:not([src]),
.eventFileImage img[src=""] {
    display: none;
}

.post .eventFileImage {
    margin: auto;
    margin-bottom: 15px;
    max-width: 500px;
    text-align: center;
}

.post .eventFileImage img {
    border: 10px solid rgb(242, 240, 226);
}

/**
 *  確認画面
 */
.event-confirm__attention {
    text-align: center;
}

.event-confirm__table {
    width: 80%;
    margin: 16px auto;
}

.posting-content {
    background-color: #fbfaf4;
}
.posting-content label {
    font-size: 1rem;
}
.posting-content select {
    height: auto;
}
.posting-content input[type="checkbox"] {
    -webkit-transform: scale(2, 2);
    margin-right: 12px;
    vertical-align: text-bottom;
}
.posting-content .button.small {
    font-size: 1rem;
}

.posting-content #header {
    display: block;
    background: #fff;
    height: 55px;
    margin: 0;
}

.posting-content .top-bar-section ul li {
    margin: 0 5px;
    background: transparent;
}

.posting-content .top-bar-section ul li a:not(.button),
.posting-content .top-bar-section ul li a:not(.button):hover {
    background: transparent;
}

.posting-content .eventHeader nav {
    height: 55px;
    padding-right: 15px;
}

.posting-content #header .top-bar {
    background: #43c1d8;
}

.posting-content #header .top-bar .name h1 {
    margin-top: 5px;
}

.posting-content #header .top-bar .button {
    font-size: 20px;
    padding: 2px 20px;
    background: #ffa801;
    border-color: #007095;
}

.posting-content .contents-wrapper {
    padding: 0;
}

.posting-content .eventContents {
    padding: 0 20px 20px;
    line-height: 1.5;
}

.posting-content .contents__secondary {
    padding: 40px 0;
}
.posting-content .contents__secondary > div {
    padding: 40px 20px;
}
.posting-content .contents__secondary > div.sidemenu {
    border: 3px solid #e8e8d0;
    background: #fff;
}
.posting-content .contents__secondary .button {
    padding: 30px;
    width: 100%;
}

.posting-content .contents__primary {
    padding: 40px;
}
.posting-content .contents__primary .post {
    border: 3px solid #e8e8d0;
    background: #fff;
    padding: 20px 30px;
    margin-bottom: 40px;
}
.posting-content .contents__primary .post__body {
    font-size: 1rem;
    margin: 0;
}
.posting-content .contents__primary .post-header {
    margin-bottom: 20px;
}
.posting-content .contents__primary .post-header__site {
    font-size: 1rem;
    margin: 0 5px 0 0;
    background: #e8e8d0;
    position: relative;
    height: 48px;
}
.posting-content .contents__primary .post-label {
    background: white;
    display: inline-block;
    margin: 5px 20px 5px 5px;
    padding: 0 40px;
    height: 36px;
    line-height: 35px;
    font-size: 0.9rem;
}
.posting-content .contents__primary .post-label.expired {
    background: #d4e1f5;
}
.posting-content .contents__primary .post-header__title {
    font-size: 1.5rem;
    margin: 10px 0 10px 0;
}
.posting-content .contents__primary .post-action .button {
    width: 40%;
    font-size: 1rem;
}

.posting-content #global-nav {
    padding: 0;
    margin: 0;
    height: auto;
    border-top: none;
    top: 0;
    background: #5acee5;
}
.posting-content #global-nav nav {
    padding: 0;
}
.posting-content .posting__global-nav__menu {
    border-top: none;
}
.posting-content .posting__global-nav__menu .button {
    margin-top: 8px;
}
.posting-content .posting__global-nav__menu #headerTitle {
    margin: 10px 0;
    font-size: 1.7rem;
    color: #fff;
}

.posting-content .eventColumnsTitle {
    font-size: 1rem;
    text-align: right;
}
.posting-content .file-action {
    margin-bottom: 20px;
}

#articleRegistConfirmPage > article {
    border-top: 1px solid #ccc;
}
#articleRegistConfirmPage #articleDateTime,
#articleRegistConfirmPage #articlePlace,
#articleRegistConfirmPage #articleDescription,
#articleRegistConfirmPage #articleContactInfo {
    line-height: 1.2rem;
}
#articleRegistConfirmPage .eventDetailHeader {
    padding-bottom: 30px;
}
#articleRegistConfirmPage .eventDetailFooter  {
    border-top: 1px solid #ccc;
    clear: both;
}
#articleRegistConfirmPage .eventDetailFooter #articlePublishRange {
    border: 1px solid #ccc;
    margin: 2rem auto;
    padding: 10px;
    width: 60%;
}

.file-area {
  margin-left: 20px;
  margin-right: 20px;
}

.file-area__item {
    border: 1px solid #ccc;
    padding: 30px 15px 15px;
    border-radius: 4px;
    margin: 5px 0;
}

.file-adder {
    margin: 30px 0;
}

/**
 *  Settings
 */
.settings {
}

.settings-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 100;
    opacity: 0;
    transition: .3s ease opacity;
}

.settings-bg.is-ready {
    opacity: 1;
}

.settings-dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60%;
    height: 60%;
    margin: auto;
    background: white;
    z-index: 110;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.32);
    opacity: 0;
    transition: .3s ease opacity;
}

.settings-dialog.is-ready {
    opacity: 1;
}

.settings-dialog__cross-button {
    position: absolute;
    top: -25px;
    right: -25px;
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 25px;
    font-size: 28px;
}

.settings-dialog__header {
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.settings-dialog__header h2 {
    margin: 0;
    padding: 0;
    font-size: 36px;
}

.settings-dialog__body {
    text-align: center;
}

select#articleCategory {
    height: 46px;
}

.OpeArticleDetailPage {
	margin-right: 20px;
}

/**
 *  Login
 */
#login {
    margin-top: 150px;
}

#login label {
    color: white;
}

#login .button {
    height: 60px;
    line-height: 60px;
    padding: 0 !important;
    border-radius: 30px;
}

/**
 *  記事のラベル
 */
.article-label {
    position: relative;
    text-align: right;
    padding: 0 35px 3px 0;
    color: rgb(160, 174, 183);
    top: 5px;
}

.article-label::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 5px;
    border: 15px solid transparent;
    border-right-color: #ccc;
    border-bottom-color: #ccc;
}

/* 新聞一覧のラベルカラーは、odataのconfiguration COLOR_LABELで指定するよう変更した
.article-label--blog::after {
    border-right-color: #c66287;
    border-bottom-color: #c66287;
}
.article-label--localnews::after {
    border-right-color: #61b152;
    border-bottom-color: #61b152;
}
.article-label--event::after {
    border-right-color: #d9bc08;
    border-bottom-color: #d9bc08;
}
.article-label--townoffice::after {
    border-right-color: #27a8bd;
    border-bottom-color: #27a8bd;
}
.article-label--other::after {
    border-right-color: #9c9c9c;
    border-bottom-color: #9c9c9c;
}
*/

.article-label__text {
}

.text--localnews {
    color: #61b152;
}

/**
 *  円形の枠に囲われた数字
 */
.circle-number {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 34px;
    font-size: 38px;
    color: #784e3c;
    border: 3px solid #784e3c;
    border-radius: 20px;
}

/**
 *  おくやみ
 */
.condolenceListItem {
    margin: 30px 0 50px;
}

.news-detail .condolenceListItem .post-header__title {
    border-left: 5px solid rgb(35, 136, 215);
    padding: 15px 0 15px 30px;
    color: rgb(35, 136, 215);
    font-size: 1.5rem;
    background: rgb(237, 241, 241);
}

.condolence__body {
    background: rgb(243, 241, 233);
    padding: 30px 35px;
    margin: 30px 0;
}
