/**
 *  放射線アプリCSS
 */
/**
 *  ----------
 *  1. Base
 *  ----------
 */
.page-rad .button {
    display: inline-block;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e3e0d5));
    border-radius: 50px;
    /*color: #650505;*/
    /*font-size: 1.3rem;*/
    margin: 0 20px 10px 0;
    padding: 1.2rem 1.2rem;
    line-height: 1;
    box-shadow: 0 3px 8px #666;
}

/**
 *  ----------
 *  2. Project
 *  ----------
 */
.page-rad #map-container {
    height: 100%;
}

.page-rad #map-container > div {
    height: 100%;
}
.page-rad #map {
    height: 100%;
}

.page-rad .contents__primary {
    padding: 0;
}

.page-rad .contents__secondary .sidemenu {
    text-align: center;
}

.page-rad .rad-cluster-item {
    padding: 8px;
}

/**
 *  吹き出し
 */
.page-rad .rad-popup {
    width: 300px;
}

.page-rad .rad-popup__header {
    margin: 0 0 16px;
}

.page-rad .rad-popup__date {
    font-size: 18px;
}

.page-rad .rad-popup__average-value {
    color: inherit;
    margin: 8px 0;
    line-height: 1;
}

.page-rad .rad-popup__max-value {
    margin: 0;
    line-height: 1;
}

.page-rad .rad-popup__info {
    margin: 8px 0;
    font-size: 0.8rem;
}

.page-rad .rad-popup__info > ul {
    margin: 16px 8px 16px 32px;
    font-size: 0.8rem;
}

.page-rad .rad-info-list {
    margin: 0;
    padding: 0;
}

.page-rad .rad-log-list {
    margin: 0;
    padding: 8px;
    width: 100%;
    max-height: 150px;
    list-style: none;
    overflow: auto;
    border: 1px solid #ccc;
}

.page-rad .rad-log-list > li {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 2px 0 rgba(0,0,0,0.16);
    margin-bottom: 8px;
    padding: 8px;
}

/**
 *  ----------
 *  3. Cosmetic
 *  ----------
 */
