<div class="row" id="login">
    <div class="large-12 columns dojo-login">
        <div class="row">
            <div class="large-6 large-offset-3 columns">
                loginID:<input id="loginId" type="text"
                    placeholder="loginID" value="">
                password:<input id="password" type="password"
                    placeholder="password" value="">
                <button id="loginButton" class='button' style="width: 100%; padding: 16px 0;">
                    道場ログイン
                </button>
            </div>
        </div>
    </div>
</div>
