<article class='post'>
    <section class='post__body'>
        <div class="row">
            <div class="large-12 columns">
                <%= model.get("site") %>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns" style="font-size: large;font-weight: bold;">
                <%= model.get("title") %>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns" style="font-size: large;font-weight: bold;">
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns nehandiv">
                <div id="articleDetailImageArea" height="390" width="390" >
                    <img id="articleDetailImage" class="nehan-float-start"></img>
                </div>
                <%= model.get("description") %>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns" style="font-size: small;">
                <%= model.get("link") %>
            </div>
        </div>
    </section>
    
    <section class='post__footer'>
        <button id="bookmarkRegistButton" type="button" style="font-size: small;">お気に入り登録</button>
    </section>
</article>