<aside id='contents__secondary' class="contents__secondary columns small-3">
    <div class='side-action'>
        <div class="side-action__content">
            <div class="side-action__header">
                今日のおすすめ記事
            </div>
            
            <div class="side-action__body">
                <h5>
                    寿司屋のおかみの日常
                </h5>
                
                <p>
                    大人気！浪江の寿司屋のおかみが執筆するほのぼの日常マンガ！第2話
                </p>
                
                <div class="side-action__image">
                    <img src="/app/img/dummy-manga.png" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <div class="sidebar__header">
            今日の記事一覧
        </div>

        <ul id='sidebar__list' class='sidebar__list'></ul>
    </div>
</aside>

<!--
<div class='background-sign-container background-sign-container--up'>
    <div class="row">
        <div class="columns small-9 small-offset-3">
            <div class="background-sign">
                前の記事
            </div>
        </div>
    </div>
</div>

<div class='background-sign-container background-sign-container--down'>
    <div class="row">
        <div class="columns small-9 small-offset-3">
            <div class="background-sign">
                次の記事
            </div>
        </div>
    </div>
</div>
-->

<div id='contents__primary' class="contents__primary columns small-9" role='content'>
    <section id="article-list" class='iscroll-container'></section>
</div>
