<aside id='contents__secondary' class="contents__secondary columns small-3">
    <div class="sidebar">
        <ul id='sidebar__list' class='sidebar__list'></ul>
    </div>

    <ul class='side-action__list stack button-group'>
        <li>
            <a href="#" class='button expand'>
                昨日
            </a>
        </li>

        <li>
            <a href="#" class='button expand'>
                今日
            </a>
        </li>

        <li>
            <a href="#" class='button expand'>
                もっと見る
            </a>
        </li>
    </ul>
</aside>

<div id='contents__primary' class="contents__primary columns small-9" role='content'>
    <section>
        <h3>
            <a href="#">
                福島TV
            </a>
        </h3>
    </section>
    
    <section id="article-list">
        <article class='post'>
            <section class='post__body'>
                <h3>記事が入ります1</h3>
                
                <p>
                    ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
                    ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
                    ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
                    ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
                    ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
                    ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
                </p>
            </section>
            
            <section class='post__footer'>
                <h4>タグやお気に入りボタンが入ります</h4>
            </section>
        </article>

        <article class='post'>
            <section class='post__body'>
                <h3>記事が入ります2</h3>
                
                <p>
                    ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
                    ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
                    ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
                    ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
                    ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
                    ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。
                </p>
            </section>
            
            <section class='post__footer'>
                <h4>タグやお気に入りボタンが入ります</h4>
            </section>
        </article>
    </section>
</div>