<div class="backnumber-scroll-container">
    <div class="backnumber-nav">
        <div class="backnumber-nav__backtolist backnumber-nav__section">
            <a href="#" class='button small' data-backnumber-list>
                一覧から探す
            </a>
        </div>

        <div class="backnumber-nav__date backnumber-nav__section">
            <div class="backnumber-nav__item">
                <span class='backnumber-nav__prev' data-backnumber-day-prev>
                    <i class="fa fa-angle-left"></i>
                    前の日
                </span>
            </div>

            <div class="backnumber-nav__item backnumber-nav__month">
                <div class="date-area">
                    <div class="date-area__year">
                        <span class="date--year">----</span>

                        <span class="date--unit">年</span>
                    </div>

                    <div class="date-area__date">
                        <span class="date--month">--</span>
                        <span class="date--unit">月</span>
                        <span class="date--day">--</span>
                        <span class="date--unit">日</span>
                    </div>

                    <div class="date-area__weekday">
                        <span class="date--paren">(</span>
                        <span class="date--weekday">--</span>
                        <span class="date--paren">)</span>
                    </div>
                </div>
            </div>

            <div class="backnumber-nav__item">
                <span class='backnumber-nav__next' data-backnumber-day-next>
                    次の日
                    <i class="fa fa-angle-right"></i>
                </span>
            </div>
        </div>

        <div class="backnumber-nav__empty backnumber-nav__section">
        </div>
    </div>

    <div id='backnumber-news' class="backnumber-main">
    </div>
</div>