<li class='backnumber-li'>
    <a class='backnumber-item row' href="backnumber/<%= model.generateDateString() %>">
        <div class="backnumber-item__date columns small-3">
            <div class="date-area">
                <div class="date-area__year">
                    <span class="date--year"><%= model.generateDateElementString("year") %></span>

                    <span class="date--unit">年</span>
                </div>

                <div class="date-area__date-weekday">
                    <div class="date-area__date">
                        <span class="date--month"><%= model.generateDateElementString("month") %></span>

                        <span class="date--unit">月</span>

                        <span class="date--day"><%= model.generateDateElementString("day") %></span>

                        <span class="date--unit">日</span>
                    </div>

                    <div class="date-area__weekday">
                        <span class="date--paren">(</span>

                        <span class="date--weekday"><%= model.generateDateElementString("weekday") %></span>

                        <span class="date--paren">)</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="backnumber-item__body columns small-6">
            <ul>
                <% if (!!model.get('articleTitle')[0]) { %>
                    <% model.get('articleTitle').forEach(function(title, index) { %>
                        <li>
                            <% if (!!title) { %>
                                <i class="fa fa-caret-right"></i>
                                <%= title %>
                            <% } else { %>
                                &nbsp;
                            <% } %>
                        </li>
                    <% }); %>

                    <li>
                        <span class='right'>
                            ほか
                        </span>
                    </li>
                <% } else { %>
                    <li>記事情報がありません</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                <% } %>
            </ul>
        </div>

        <div class="backnumber-item__thumbnail columns small-3">
            <img class="articleImage" alt="">
        </div>
    </a>
</li>
