<div id="snap-drawers" class='snap-drawers'>
    <div id="menu" class='menu'></div>
</div>

<div id="snap-content" class='snap-content'>
    <div id='header' class="header"></div>
    
    <div id='global-nav' class='global-nav'>
    </div>

<!--
<input type="radio" name="fontSize" value="fontSizeSmall" style="display: none;"></input>
<input type="radio" name="fontSize" value="fontSizeMiddle" style="display: none;"></input>
<input type="radio" name="fontSize" value="fontSizeLarge" style="display: none;"></input>
-->

    <div id='contents' class="contents"></div>
</div>