<nav class="top-bar" data-topbar role="navigation">
    <section class="top-bar-section">
        <ul class="title-area left">
            <li class="has-form">
                <a href="#" class='button small' data-drawer-opener>
                    メニュー
                </a>
            </li>

            <li class="has-form">
                <a href="#" class='button small' data-back-home>
                    &lt; 戻る
                </a>
            </li>
        </ul>
        
        <div class='global-nav__center'>
            <ul>
                <li class='has-form'>
                    <a href="#" class="button small" data-prev-day>
                        &lt; 前の日
                    </a>
                </li>
                
                <li>
                    2014年11月11日(火)
                </li>

                <li class='has-form'>
                    <a href="#" class="button small" data-next-day>
                        次の日 &gt;
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="global-nav__right right">
            <ul class="button-group right">
                <li>
                    <a href="#" class="button" data-font-size='16'>
                        小
                    </a>
                </li>

                <li>
                    <a href="#" class="button" data-font-size='20'>
                        中
                    </a>
                </li>

                <li>
                    <a href="#" class="button" data-font-size='26'>
                        大
                    </a>
                </li>
            </ul>

            <span class='right' style='margin: 0 8px; font-size: 14px;'>文字サイズ</span>
        </div>
    </section>
</nav>