<nav role="navigation">
    <section>
        <div class="global-nav__menu">
            <div>
                <a href="#" class='button small' data-drawer-opener>
                    メニュー
                </a>
            </div>

            <div>
                <a href="#" class='button small' data-back-home>
                    &lt; 戻る
                </a>
            </div>
        </div>

        <div class="global-nav__info">
            info
        </div>

        <div class="global-nav__title">
            <p class='title__sub'>
                つながりをとりもどそう
            </p>

            <h1 class='title__main'>
                なみえ新聞
            </h1>
        </div>

        <div class="global-nav__date">
            2014年11月11日(火)
        </div>

        <div class="global-nav__weather">
            weather
        </div>

        <div class="global-nav__font">
            <ul>
                <li>
                    <a href="#" class="button" data-font-size='16'>
                        小
                    </a>
                </li>

                <li>
                    <a href="#" class="button" data-font-size='20'>
                        中
                    </a>
                </li>

                <li>
                    <a href="#" class="button" data-font-size='26'>
                        大
                    </a>
                </li>
            </ul>
        </div>
    </section>
</nav>
