<nav class="top-bar" data-topbar role="navigation">
    <section class="top-bar-section">
        <ul class="title-area left">
            <li class="has-form">
                <a href="#" class='button small' data-drawer-opener>
                    メニュー
                </a>
            </li>

            <li class="name">
                <h1>
                    <a href="#">浪江町タブレット</a>
                </h1>
            </li>
            <li class="name">
                <h1>
                    <a href="javascript:void(0)">文字サイズ</a>
                </h1>
            </li>
            <li class="has-form">
                <a href="javascript:void(0)" id="fontSizeSmall" class='button small fontResizeButton'>
                    小
                </a>
            </li>
            <li class="has-form">
                <a href="javascript:void(0)" id="fontSizeMiddle" class='button small fontResizeButton'>
                    中
                </a>
            </li>
            <li class="has-form">
                <a href="javascript:void(0)" id="fontSizeLarge" class='button small fontResizeButton'>
                    大
                </a>
            </li>
        </ul>
        <ul class="right">
            <li class="has-form">
                <select id="selectRadiation" class="right">
                    <option value="浪江町立津島小学校">浪江町立津島小学校</option>
                    <option value="浪江町立津島中学校">浪江町立津島中学校</option>
                    <option value="福島県立浪江高等学校津島校">福島県立浪江高等学校津島校</option>
                    <option value="旧法務局＜平成25年12月に新規設置＞">旧法務局＜平成25年12月に新規設置＞</option>
                    <option value="大平山避難場所＜平成25年12月に新規設置＞">大平山避難場所＜平成25年12月に新規設置＞</option>
                    <option value="権現堂集会所＜平成25年12月に新規設置＞">権現堂集会所＜平成25年12月に新規設置＞</option>
                    <option value="浜街道境松付近＜平成25年12月に新規設置＞">浜街道境松付近＜平成25年12月に新規設置＞</option>
                    <option value="浜街道高瀬街道交差点付近＜平成25年12月に新規設置＞">浜街道高瀬街道交差点付近＜平成25年12月に新規設置＞</option>
                    <option value="ＪＲ浪江駅前＜平成25年12月に新規設置＞">ＪＲ浪江駅前＜平成25年12月に新規設置＞</option>
                    <option value="浪江消防署＜平成25年12月に新規設置＞">浪江消防署＜平成25年12月に新規設置＞</option>
                    <option value="佐屋前公民館＜平成25年12月に新規設置＞">佐屋前公民館＜平成25年12月に新規設置＞</option>
                    <option value="幾世橋消防屯所＜平成25年12月に新規設置＞">幾世橋消防屯所＜平成25年12月に新規設置＞</option>
                    <option value="末森中継ポンプ場＜平成25年12月に新規設置＞">末森中継ポンプ場＜平成25年12月に新規設置＞</option>
                    <option value="室原田子平墓地＜平成25年12月に新規設置＞">室原田子平墓地＜平成25年12月に新規設置＞</option>
                    <option value="室原北向集会所＜平成25年12月に新規設置＞">室原北向集会所＜平成25年12月に新規設置＞</option>
                    <option value="大字棚塩字北棚地内＜平成25年12月に新規設置＞">大字棚塩字北棚地内＜平成25年12月に新規設置＞</option>
                    <option value="やすらぎ荘＜平成25年12月に新規設置＞">やすらぎ荘＜平成25年12月に新規設置＞</option>
                    <option value="末森集会所＜平成25年12月に新規設置＞">末森集会所＜平成25年12月に新規設置＞</option>
                    <option value="谷津田集会所＜平成25年12月に新規設置＞">谷津田集会所＜平成25年12月に新規設置＞</option>
                    <option value="上立野公民館＜平成25年12月に新規設置＞">上立野公民館＜平成25年12月に新規設置＞</option>
                    <option value="下立野消防屯所＜平成25年12月に新規設置＞">下立野消防屯所＜平成25年12月に新規設置＞</option>
                    <option value="酒田集会所＜平成25年12月に新規設置＞">酒田集会所＜平成25年12月に新規設置＞</option>
                    <option value="西台消防屯所＜平成25年12月に新規設置＞">西台消防屯所＜平成25年12月に新規設置＞</option>
                    <option value="下津島集会所＜平成25年12月に新規設置＞">下津島集会所＜平成25年12月に新規設置＞</option>
                    <option value="南津島上集会所＜平成25年12月に新規設置＞">南津島上集会所＜平成25年12月に新規設置＞</option>
                    <option value="アクセスホームさくら＜平成25年12月に新規設置＞">アクセスホームさくら＜平成25年12月に新規設置＞</option>
                    <option value="双葉地方森林組合浪江事業所＜平成25年12月に新規設置＞">双葉地方森林組合浪江事業所＜平成25年12月に新規設置＞</option>
                    <option value="浪江小学校＜平成25年12月に新規設置＞">浪江小学校＜平成25年12月に新規設置＞</option>
                    <option value="浪江中学校＜平成25年12月に新規設置＞">浪江中学校＜平成25年12月に新規設置＞</option>
                    <option value="浪江東中学校＜平成25年12月に新規設置＞">浪江東中学校＜平成25年12月に新規設置＞</option>
                    <option value="浪江高等学校＜平成25年12月に新規設置＞">浪江高等学校＜平成25年12月に新規設置＞</option>
                    <option value="室原上組集会所＜平成25年12月に新規設置＞">室原上組集会所＜平成25年12月に新規設置＞</option>
                    <option value="高瀬浄化センター＜平成25年12月に新規設置＞">高瀬浄化センター＜平成25年12月に新規設置＞</option>
                    <option value="ふれあいセンター＜平成25年12月に新規設置＞">ふれあいセンター＜平成25年12月に新規設置＞</option>
                    <option value="加倉運動公園＜平成25年12月に新規設置＞">加倉運動公園＜平成25年12月に新規設置＞</option>
                    <option value="棚塩霊園＜平成25年12月に新規設置＞">棚塩霊園＜平成25年12月に新規設置＞</option>
                    <option value="大堀総合グランド＜平成25年12月に新規設置＞">大堀総合グランド＜平成25年12月に新規設置＞</option>
                    <option value="幾内中継ポンプ場＜平成25年12月に新規設置＞">幾内中継ポンプ場＜平成25年12月に新規設置＞</option>
                    <option value="浪江浄化センター＜平成25年12月に新規設置＞">浪江浄化センター＜平成25年12月に新規設置＞</option>
                    <option value="丈六公園＜平成25年12月に新規設置＞">丈六公園＜平成25年12月に新規設置＞</option>
                    <option value="大字下津島字大和久地内＜平成25年12月に新規設置＞">大字下津島字大和久地内＜平成25年12月に新規設置＞</option>
                    <option value="マリンパーク＜平成25年12月に新規設置＞">マリンパーク＜平成25年12月に新規設置＞</option>
                    <option value="苅野配水場＜平成25年12月に新規設置＞">苅野配水場＜平成25年12月に新規設置＞</option>
                    <option value="南上ノ原町営住宅＜平成25年12月に新規設置＞">南上ノ原町営住宅＜平成25年12月に新規設置＞</option>
                    <option value="大字谷津田字乱塔前地内＜平成25年12月に新規設置＞">大字谷津田字乱塔前地内＜平成25年12月に新規設置＞</option>
                    <option value="浪江公民館苅野分館＜平成25年12月に新規設置＞">浪江公民館苅野分館＜平成25年12月に新規設置＞</option>
                    <option value="谷津田取水場入口＜平成25年12月に新規設置＞">谷津田取水場入口＜平成25年12月に新規設置＞</option>
                    <option value="しらうめ荘＜平成25年12月に新規設置＞">しらうめ荘＜平成25年12月に新規設置＞</option>
                    <option value="国玉神社＜平成25年12月に新規設置＞">国玉神社＜平成25年12月に新規設置＞</option>
                    <option value="請戸川土地改良区＜平成25年12月に新規設置＞">請戸川土地改良区＜平成25年12月に新規設置＞</option>
                    <option value="百間沢集会所＜平成25年12月に新規設置＞">百間沢集会所＜平成25年12月に新規設置＞</option>
                    <option value="上ノ原配水場近傍＜平成25年12月に新規設置＞">上ノ原配水場近傍＜平成25年12月に新規設置＞</option>
                    <option value="田末消防屯所＜平成25年12月に新規設置＞">田末消防屯所＜平成25年12月に新規設置＞</option>
                    <option value="浪江町　棚塩">浪江町　棚塩</option>
                    <option value="浪江町　浪江">浪江町　浪江</option>
                    <option value="浪江町　幾世橋">浪江町　幾世橋</option>
                    <option value="浪江町　請戸">浪江町　請戸</option>
                    <option value="大柿ダム局">大柿ダム局</option>
                    <option value="南津島局">南津島局</option>
                    <option value="福島県浪江ひまわり荘">福島県浪江ひまわり荘</option>
                    <option value="手七郎集会所">手七郎集会所</option>
                    <option value="大柿簡易郵便局（葛尾村営バス停脇）">大柿簡易郵便局（葛尾村営バス停脇）</option>
                    <option value="賀老集会所">賀老集会所</option>
                    <option value="赤宇木集会所">赤宇木集会所</option>
                    <option value="大堀小学校">大堀小学校</option>
                    <option value="苅野小学校">苅野小学校</option>
                    <option value="浪江町役場" selected="selected">浪江町役場</option>
                    <option value="小丸多目的集会所">小丸多目的集会所</option>
                    <option value="津島活性化センター">津島活性化センター</option>
                    <option value="昼曽根屯所">昼曽根屯所</option>
                    <option value="新町ふれあい広場">新町ふれあい広場</option>
                    <option value="川添葉山会館">川添葉山会館</option>
                    <option value="樋渡牛渡集会所">樋渡牛渡集会所</option>
                    <option value="高瀬多目的集会所">高瀬多目的集会所</option>
                    <option value="幾世橋集会所">幾世橋集会所</option>
                    <option value="浪江町公民館幾世橋分館">浪江町公民館幾世橋分館</option>
                    <option value="北棚塩総合集会所">北棚塩総合集会所</option>
                    <option value="棚塩集会所">棚塩集会所</option>
                    <option value="大字請戸集会所">大字請戸集会所</option>
                    <option value="中上ノ原町営住宅">中上ノ原町営住宅</option>
                    <option value="井手多目的研修センター">井手多目的研修センター</option>
                    <option value="田尻集会所">田尻集会所</option>
                    <option value="小野田集会所">小野田集会所</option>
                    <option value="酒井集会所">酒井集会所</option>
                    <option value="室原公民館">室原公民館</option>
                    <option value="立野中多目的集会所">立野中多目的集会所</option>
                    <option value="苅宿公民館">苅宿公民館</option>
                    <option value="加倉集会所">加倉集会所</option>
                    <option value="藤橋消防屯所">藤橋消防屯所</option>
                    <option value="羽附集会所">羽附集会所</option>
                    <option value="大字津島集会所">大字津島集会所</option>
                    <option value="南下コミュニティーセンター">南下コミュニティーセンター</option>
                    <option value="葛久保集会所">葛久保集会所</option>
                    <option value="陶芸の杜おおぼり">陶芸の杜おおぼり</option>
                    </option>
                </select>
            </li>
            <li class="name" id="radiationValue"></li>
        </ul>
    </section>
</nav>