<h3 class='text-center'>
    メニュー一覧
</h3>

<ul class='menu__list stack button-group'>
    <li>
        <a class="button expand" href='/top'>
            トップ
        </a>
    </li>

    <li>
        <a class="button expand" href='/scrap'>
            切り抜き
        </a>
    </li>

    <li>
        <a class="button expand" href='/tutorial'>
            タブレット道場
        </a>
    </li>

    <li>
        <a class="button expand" href='/backnumber'>
            バックナンバー
        </a>
    </li>

    <li>
        <a class="button expand" href='/settings'>
            設定
        </a>
    </li>

<!--
    <li>
        <a id='showEventsLink' class="button expand">
            イベント情報
        </a>
    </li>

    <li>
        <a href='#' class="button expand">
            プロフィールを見る
        </a>
    </li>

    <li>
        <a href='#' class="button expand">
            ログアウト
        </a>
    </li>
-->
</ul>