<div class="sidebar">
    <ul id='sidebar__list' class='sidebar__list'></ul>
</div>

<div class="side-action">
    <ul class='side-action__list stack button-group'>
        <li>
            <a href="#" class='button expand'>
                昨日
            </a>
        </li>

        <li>
            <a href="#" class='button expand'>
                今日
            </a>
        </li>

        <li>
            <a href="#" class='button expand'>
                もっと見る
            </a>
        </li>
    </ul>
</div>

<!--     <h5>Categories</h5>
    <ul class="side-nav">
        <li><a id="tvLink">TV</a></li>
        <li><a id="newsLink">News</a></li>
        <li><a id="animationLink">Animation</a></li>
        <li><a id="eventsLink">Events</a></li>
        <li><a id="showEventsLink">ShowEvents</a></li>
    </ul> -->